[2015-01-19 04:26] dportnoy opened #1 "Centralized method to retrieve current Medicare pricing by CPT"
Problem: Currently, you have to go to multiple sites and download inconsistent excel or CSV files to capture this data.

Solution: Centralized dataset or API that includes Medicare pricing for each CPT and locale

Value: This solution provides price transparency for consumers and enables companies to provide cost transparency tools.  CMS often sets the pricing standards for private insurers as wel

[2015-01-19 04:41] dportnoy opened #2 "Need one step process to access physician"
Use case specifications: ~~https://github.com/demand-driven-open-data/ddod-intake/wiki/Use-Case-2~~
http://hhs.ddod.us/wiki/Use_Case_2

[2015-01-19 04:44] DavidXPortnoy opened #3 "Need for greater granularity in PQRS published benchmarks"
Need for greater granularity in PQRS published benchmarks.  The benchmarks are currently derived from the aggregation of quality data submitted through multiple data collection methods, but it would be helpful if in addition the data from each collection method were used to calculate separate benchmarks for that collection method (e.g. set of benchmarks for data collected through GPRO registry, se

[2015-01-19 04:47] DavidXPortnoy opened #4 "Make VBM (Value-Based Payment Modifier) reporting for all groups publicly available"
On Value-Based Payment Modifier (VBM) reporting, provide the quality composite and cost composite scores by group (as identified by name and headquarters location and 1:1 with tax ID) for each performance year. Currently, these scores are only available within each group's private QRUR report. This additional transparency would be a win for consumers.

Customer: Assists providers with meaningful u

[2015-01-23 18:28] DavidXPortnoy opened #5 "Consolidated registry of marketed medical devices"
Specifications: ~~https://github.com/demand-driven-open-data/ddod-intake/wiki/Use-Case-5~~
http://hhs.ddod.us/wiki/Use_Case_5

[2015-01-23 18:29] DavidXPortnoy opened #6 "Consolidated reporting of medical device recalls"
Specifications: ~~https://github.com/demand-driven-open-data/ddod-intake/wiki/Use-Case-6~~
http://hhs.ddod.us/wiki/Use_Case_6

[2015-01-23 18:32] DavidXPortnoy opened #7 "National Death Registry for use with outcomes research"
Specifications: ~~https://github.com/demand-driven-open-data/ddod-intake/wiki/Use-Case-7~~
 http://hhs.ddod.us/wiki/Use_Case_7

[2015-01-23 18:36] dportnoy opened #8 "Use of CDC behavioral / surveillance records to assess population health"
Use: Get more complete picture of health for a population subset (in addition to EHR and claims data)

Customer: funded by PCORI

[2015-01-23 18:38] DavidXPortnoy opened #9 "CMS - Graduate Medical Education (GME)"

[2015-01-23 18:38] dportnoy opened #10 "CDC - Outbreaks reported by week"

[2015-01-23 18:39] DavidXPortnoy opened #11 "CDC - Cruise Ship Outbreaks"

[2015-01-23 18:39] DavidXPortnoy opened #12 "FDA - Recalled products actually turned in"

[2015-01-23 18:39] DavidXPortnoy opened #13 "FDA - Warning Letters in data format"

[2015-01-27 05:43] DavidXPortnoy opened #14 "Need ability to link NPI and PECOS datasets"
Description of use case: Need ability to link NPI and PECOS datasets and compare against the address information on the claims in utilization data.

Value: This base level of information accuracy is a prerequisite before a patient can do even a basic search (let alone one with insurance info, cost, quality, etc.)  This is widely acknowledged, and every healthcare stakeholder participates, commonly

[2015-01-27 05:50] dportnoy opened #15 "Need de-ident claims for utilization & quality analytics"
USE CASE
**Description:** Need a claims dataset at patient level in order to perform utilization analytics and assess physician quality.  Examples of quality might include readmissions and misdiagnosis.

**Value:**
* Steer patients toward better quality physicians.  Reward good physicians with better reputation and more patients.  This would be a good complement to the cost utilization data releas

[2015-02-11 02:09] DavidXPortnoy opened #16 "3rd party updating of NPPES"
Specifications: https://github.com/demand-driven-open-data/ddod-intake/wiki/Use-Case-16

[2015-02-11 20:26] DavidXPortnoy opened #17 "Use cases from Matter health tech incubator"
This is a place holder for use cases that will come from Matter, the health tech incubator in Chicago

Use cases listed in email from Richard Ferrans on 2/5/2015:
1.	Custom data sets that could help them understand the impact of their product service in value based models for MSSP tracks, MA, Duals, and different Medicaid segments.
2.	Episode modeling/designing
3.	HCAHPS data and disparate quality

[2015-02-26 14:48] dportnoy opened #18 "(Placeholder for ACF reporting use case)"
Status: Set to discuss use case with Purple Binder 2/25

[2015-03-03 22:21] dportnoy opened #19 "Leakage reduction"
Specifications: ~~https://github.com/demand-driven-open-data/ddod-intake/wiki/Use-Case-19~~

(Moved to http://hhs.ddod.us/wiki/Use_Case_19)

[2015-03-12 02:41] DavidXPortnoy opened #20 "NPI-TIN Mapping for Meaningful Use"
Specifications: https://github.com/demand-driven-open-data/ddod-intake/wiki/Use-Case-20

[2015-03-18 13:14] loranstefani opened #21 "healthcare.gov + NPPES + HPOES provider health plan network status"
# USE CASE
**Description:** Need ability to clearly (and in real-time) identify if/when a provider accepts a health plan.

**Value:** More efficient comparison of "narrow network" plan options in the marketplace. Metric of how frequently a provider adds/drops accepted plans. Metric of how frequently a health plan expands/contracts their network. Metric of comparison of covered service options.

**

[2015-03-18 20:30] loranstefani commented on #14
Could be skirted (at least in part) by publishing the Group PAC ID with NPPES. It's dropped into Physician Compare, but with nothing but the Group Name included to match on, makes it challenging to tie to NPPES. We've done some fuzzy address matching, but with limited success/confidence.

[2015-03-20 16:37] dportnoy commented on #21
Thank you for submitting.  We'll get that added.

[2015-03-20 22:24] cornstein commented on #13
The FDA website includes warning letters (http://www.fda.gov/iceci/enforcementactions/WarningLetters/default.htm) and appears to include an option to download as an Excel Spreadsheet, but the data option does not provide any details about the product name/names involved in the warning letter. This would be particularly helpful to do any type of analysis on this information.

[2015-03-20 22:59] cornstein commented on #12
The FDA posts recalls online (http://www.fda.gov/Safety/Recalls/), but no indication of the number of products actually turned in because of the recall (numerator) or the number being recalled (denominator). It would be helpful to understand these two data points for each recall in order to track the success/failure of the recall.

[2015-03-20 23:02] cornstein commented on #11
The FDA posts cruise ship inspections online (http://wwwn.cdc.gov/InspectionQueryTool/InspectionSearch.aspx) but does not allow the data to be downloaded in a spreadsheet. The same is true for cruise ship outbreak information (http://www.cdc.gov/nceh/vsp/surv/gilist.htm).

[2015-03-20 23:08] cornstein commented on #10
Each week, CDC posts information on communicable diseases in the MMWR (an example: http://www.cdc.gov/mmwr/pdf/wk/mm6410md.pdf). The data is also available on data.gov (example: https://data.cdc.gov/NNDSS/NNDSS-Table-II-Mumps-to-Rabies-animal/d69q-iyrb). But the data is not historical, except for a couple recent years. It would be good to create a historical archive for each disease, perhaps as a

[2015-03-20 23:10] cornstein commented on #9
Recently, the Institute of Medicine called for greater transparency about GME (graduate medical education) funding--http://www.iom.edu/Reports/2014/Graduate-Medical-Education-That-Meets-the-Nations-Health-Needs.aspx. CMS has information about GME payments by program and institution. These would be worthwhile figures to release.

[2015-03-20 23:15] cornstein opened #22 "National Practitioner Data Bank online lookup tool"
The National Practitioner Data Bank is a federally run repository for adverse actions and malpractice payouts involving doctors and other health professionals. Details on individual doctors are confidential, but summary statistics and deidentifiable data are releasable: There's a very rudimentary data analytic tool available (http://www.npdb.hrsa.gov/analysistool/) but it would be great if there w

[2015-03-20 23:17] cornstein opened #23 "Performance data on health centers"
HRSA tracks performance data on health centers it funds (http://bphc.hrsa.gov/policiesregulations/performancemeasures/). The data to accompany it should be made available online.

[2015-03-27 04:42] dportnoy commented on #16
Adding questions directed to NPPES organization to use case (http://hhs.ddod.us/wiki/Use_Case_16).

These questions are intended for 3rd party surrogate organizations to keep provider information up to date in the NPPES system.
1. Is there specific paperwork we need our clients to sign that give us authorization to jointly update their NPPES listing?
2. Is there any specific paperwork that would b

[2015-03-27 20:13] dportnoy commented on #7
Added list of individuals involved in discussion:
- Abel Kho at Northwestern University
- Lesley Curtis at Duke University
- Maryan Zirkle at PCORI
- Christine Dymek at HHS/ASPE
- Delton Atkinson, Director at NCHS Division of Vital Statistics
- Paula Braun, Entrepreneur-in-Residence at CDC

[2015-03-27 23:09] dportnoy commented on #6
Added recommendation #3 to get involved in long term solution

[2015-03-30 21:04] yashgad opened #24 "Mapping of NPI number to PubMed ID"
Context: In order to relate the academic publications of a physician or other healthcare provider to all the other metadata available through other HHS offerings, it is necessary to have a convenient way to map the Pubmed ID (PMID) number of an article or other NLM author ID back to the physician. This information will help give broader insight into the publications and types of subject areas that

[2015-03-31 15:53] dportnoy commented on #24
Use case specs page created: ~~https://github.com/demand-driven-open-data/ddod-intake/wiki/Use-Case-24~~

**Update:** Moved page for full use case specifications and solution: http://hhs.ddod.us/wiki/Use_Case_24

[2015-03-31 15:57] dportnoy commented on #24
@yashgad, please update items with "(?)" in https://github.com/demand-driven-open-data/ddod-intake/issues/24.
- [ ] Value to customer & industry/public
- [ ] Current data sources used
- [ ] Specifications: fields, frequency

[2015-03-31 16:11] dportnoy commented on #5
@procured, please provide feedback to [solution 5](https://github.com/demand-driven-open-data/ddod-intake/wiki/Solution-5).
- Any clarifications needed?
- Issues, concerns?
- Desire to participate in feedback and validation of long term solution?

[2015-03-31 16:11] dportnoy commented on #6
@procured, please provide feedback to [solution 6](http://hhs.ddod.us/wiki/Use_Case_6).
- Any clarifications needed?
- Issues, concerns?
- Desire to participate in feedback and validation of long term solution?

[2015-03-31 19:57] dportnoy commented on #7
Had discussion with Delton Atkinson at NCHS.  Recorded solution and workarounds at ~~https://github.com/demand-driven-open-data/ddod-intake/wiki/Solution-7~~
http://hhs.ddod.us/wiki/Use_Case_7

[2015-04-02 15:29] DavidXPortnoy opened #25 "History for structured product labels"
**Requester:** @rxdata
**Source:** Phone call with Lawrence at rxData on 4/2/2015
**Notes from call:**
 * OpenFDA lacks historical product labels / indications
 * To access historical label revisions, rxData currently relies on Structured Product Labeling (SPL) public use files.
 * They may also look at XML format files at AccessData.fda.gov, specifically: http://www.accessdata.fda.gov/spl/data/[S

[2015-04-02 15:30] DavidXPortnoy opened #26 "Medicare Part D ______"
For @rxdata

Use template: https://github.com/demand-driven-open-data/ddod-intake/wiki/Use-Case-Template

## Use case summary
* Title: _____
* Work item: https://github.com/demand-driven-open-data/ddod-intake/issues/#
* Activity log: [DDOD activity log for use case](https://docs.google.com/spreadsheets/d/1acv8kB-HTtMxvuM7HPtMrNx6vIqjpWvjeAUCRoVS_-4/gviz/tq?gid=0&pli=1&tqx=out:html&tq=SELECT B, D,

[2015-04-03 03:20] dportnoy commented on #5
Created entry to this use case on HealthData.gov

[2015-04-03 03:22] dportnoy commented on #6
Created entry to this use case on HealthData.gov

[2015-04-03 03:23] dportnoy commented on #6
Created starting point for machine readable data dictionary for use with [HealthData.gov](http://www.healthdata.gov/): https://github.com/demand-driven-open-data/ddod-intake/blob/master/_data/use-case-6-data-dictionary.json

[2015-04-03 13:09] wdanford commented on #6
This accurately describes the issues we've had working with medical device recall data, and we currently make use of "Short term solution 1" to retrieve the data we need. It would be helpful for us to have more clarification around why there are two separate systems -- the RES and the Recall database, or at least what the relationships between them is. We've not been able to precisely understand w

[2015-04-03 14:39] FlaviuSim commented on #26
We need the same thing. The drug costs and payment data and DIR fees charged to the pharmacy would help us make things more transparent for pharmacies and patients.

[2015-04-03 14:46] dportnoy commented on #26
@FlaviuSim, go ahead and add your requirements to ~~https://github.com/demand-driven-open-data/ddod-intake/wiki/Use-Case-26~~  (Moved to: http://hhs.ddod.us/wiki/Use_Case_26)

[2015-04-03 17:18] wdanford commented on #5
This also precisely summarizes our issues. Thanks!  Would definitely like to participate in a long term solution.

[2015-04-03 20:48] dportnoy commented on #6
@wdanford you should watch subscribe to notifications for this issue

I'm checking with Data Owner on:
1. Your question.  (RES is the internal system of record.  It seems the Enforcement Reports are directly generated from RES.  I'll ask the Data Owner if the Recall database has a subset of the data.)

2. Next steps on participation in long term solution

[2015-04-03 21:14] RxData commented on #25
Use case summary
• Title: History for structured product labels
• Work item: https://github.com/demand-driven-open-data/ddod-intake/issues/#
• Activity log: DDOD activity log for use case
• Solution: https://github.com/demand-driven-open-data/ddod-intake/wiki/Solution-#
Description
• OpenFDA API lacks historical product labels / indications
• To access historical label revisions, RxData currently

[2015-04-03 22:21] dportnoy commented on #5
@wdanford you should watch subscribe to notifications for this issue
1. For the short term R&L [workaround using FOIA](https://github.com/demand-driven-open-data/ddod-intake/wiki/Solution-5#foia-short-term), let me know if the instructions get you the result faster.  We could also try specifying actual query code and SME in the request for improved consistency.
2. I'm checking with Data Owner abou

[2015-04-17 12:15] dportnoy commented on #5
Ann Ferriter (FDA/CDRH/DAPO) was out for a week and will talk to Dave Gartner (FDA/CDRH/DAPO/RRB) next week about questions:
1. For the short term R&L workaround using FOIA, whether it's possible to obtain the actual source code of the query that has been run for prior requests.
2.  On the long term solution described ("Publicly accessible website to access recall records published directly from R

[2015-04-22 19:30] dportnoy commented on #26
@rxdata, @FlaviuSim, I would like to confirm 2 questions for this use case:
1.  Could you please take a look at the data dictionary (https://www.ccwdata.org/cs/groups/public/documents/datadictionary/data_dict_pde.xls) for CCW's Medicare Part D Event (PDE) File and let me know whether it has all of the fields you need?
2.  Can you give me a sense of the challenges or questions you've been encounter

[2015-04-22 19:47] dportnoy commented on #26
Created starting point for [Solution 26](https://github.com/demand-driven-open-data/ddod-intake/wiki/Solution-26), including info from CCW, ResDAC, HealthData.gov, CMS public use files (standalone, synthetic)

[2015-04-22 20:11] dportnoy commented on #25
Created specifications document from notes: ~~https://github.com/demand-driven-open-data/ddod-intake/wiki/Use-Case-25~~

**Update:** Moved page for full use case specifications and solution: http://hhs.ddod.us/wiki/Use_Case_25

[2015-04-23 01:01] FlaviuSim commented on #26
1. The CCW is released too late after the fact, and is very difficult to submit a request and it is only for research, rather than anonymous data for any commercial purpose.
2. The ResDac data is often late, inaccurate, but most importantly, insufficient as it does not have any actual relevant dollar figures of reimbursement for a specific drug.

[2015-04-23 18:01] RxData commented on #26
Thanks, David! This is helpful!
1. For our purposes, this could be a great starting point (those fields).
2. Is CCW (ResDac)'s data available for commercial purpose? I.e. can we integrate it to our platform? If so, what is the application process for using the data? Any specific conditions? Or are we only "allowed" to use the 2008 BSA PDE PUF, and the CMS 2008-2010 DE SynPUF?

[2015-04-23 18:50] dportnoy commented on #26
@FlaviuSim, thanks for your insights!  Follow up questions please...
1.  What lag time is acceptable for it to be useful to your application?

2. Have you submitted a request, when, and what response did you get?

3. Could you please provide more detail about your understanding about such submissions?  Perhaps what online materials are you basing your statement on?

4.  Can you give an example of

[2015-04-24 01:44] dportnoy commented on #26
Adding potential workaround for ResDAC for for-profits.  Companies could fund research, as long as it's conducted by a separate body and they agree to see only the results.

[2015-04-24 15:16] dportnoy commented on #26
@RxData
1.  Thanks

2. Officially non-profit research only.  But give me a bit of time to figure out if we could find an adequate solution or workaround.

3. What's the minimal refresh interval and maximum lag time for this data to be useful for your application?

[2015-04-25 00:53] FlaviuSim commented on #26
1. At the very least by-weekly, if not weekly.
2. I have not myself but heard from others that have tried and were unable to complete the process.
3. Honestly, I have not looked at it in a few years, perhaps you can point me in the right direction for the CCW request.
4. It is released monthly but often with data far longer than a month ago. It misses certain drugs and plans, or formularies can be

[2015-04-27 16:00] dportnoy commented on #26
@FlaviuSim a specific example for question 4 would be fantastic!

[2015-04-27 17:37] dportnoy commented on #26
@FlaviuSim, @RxData  I talked with ResDAC.  It seems even if you were allowed to get the PDE data (which I'm still working on), it would be quite old.  They say it's released annually and 2014 won't be available until the end of 2015.

My question to you is this... Have you looked at the [prescription drug](http://www.cms.gov/Research-Statistics-Data-and-Systems/Files-for-Order/NonIdentifiableData

[2015-04-27 17:40] FlaviuSim commented on #26
No it is not. We posted on this page precisely due to this insufficiency.

[2015-04-27 18:54] dportnoy commented on #26
@FlaviuSim could you elaborate on insufficiency...  For example, do you specifically need atomic event-level data?  Or is it the lag time for quarterly pricing file?  Or specific fields missing?

BTW, if you need atomic event-level, which PII fields are needed?  (There's a best practice that there must be at least 11 beneficiaries within any 1 combination of personally identifiable fields.  Otherw

[2015-04-27 19:01] FlaviuSim commented on #26
we don't need any beneficiary PHI fields whatsoever. Just the other PDE fields for a specific drug, pharmacy, and plan.

[2015-04-27 19:23] dportnoy commented on #26
Great.  Thanks @FlaviuSim.  I'll look into stripping: BENE_ID, DOB_DT, GNDR_CD.  There may be pushback on SRVC_DT, since it's similar to the PHI for admissions and discharges.  (Can we truncate dates to the year?  Unfortunately, that might mean up to a year lag time to prevent date re-identification.)

[2015-04-27 21:32] FlaviuSim commented on #26
We can do without the SRVC_DT. One date, such as the paid date (PD_DT ) should be enough.

[2015-04-29 06:13] dportnoy opened #27 "More granularity on patient satisfaction scores (CAHPS Hospital Survey)"
Per conversation with Richard Ferrans, MD 4/28/2015 on Patient Satisfaction scores released by CMS, which were collected by Press Ganey
* See [Hospital Compare Star Ratings Fact Sheet from 2015-04-16](http://www.cms.gov/Newsroom/MediaReleaseDatabase/Fact-sheets/2015-Fact-sheets-items/2015-04-16.html)

____________
### [Survey of patients' experiences (HCAHPS)](http://www.medicare.gov/hospitalcompa

[2015-04-29 06:17] DavidXPortnoy opened #28 "Mismatch between healthcare.gov Insurance Plan Finder and reality"
As noted by Dan Ross on 4/27/2015

Data pulled back from API calls were checked against
* Prominent Plans offered in Arlington, VA (CareFirst is missing)
* List of plans offered for state of TX (Should be > 4)

[2015-04-29 06:21] DavidXPortnoy opened #29 "Connect Physician ID in Open Payments to NPI"
As noted by Waldo Jaquith 4/27/2015

* Open Payments records uses: Physician IDs and Physician Profile IDs  (sequential integers)
* NPPES and some other datasets use NPI
* **Need:** User needs to connect Open Payments records to datasets containing NPI

[2015-04-29 06:26] DavidXPortnoy opened #30 "Identifying dual eligibles in CMS DE-SynPUF"
As noted by Lloyd Brodsky 4/22/2015
CMS DE-SynPUF is a good and statistically relevant synthetic dataset.  But it's missing indicators fro dual eligibles.

[2015-04-29 06:31] DavidXPortnoy opened #31 "Enable join of CMS to Census"
As identified by Lloyd Brodsky 4/22/2015

_____
Potential improvements:
1. Verbose column names: I’ve had to rename all the variables in order to import the data into a statistical package. The CMS spreadsheets were designed to be read by people, so the column names were very descriptive and very long with embedded spaces (illegal in databases and statistics tools). It would have been better if th

[2015-04-30 05:53] dportnoy commented on #29
~~Created use case entry: https://github.com/demand-driven-open-data/ddod-intake/wiki/Use-Case-29~~ Moved

[2015-05-01 15:27] dportnoy commented on #29
Crated page for full use case specifications and solution: http://hhs.ddod.us/wiki/Use_Case_29

[2015-05-01 17:18] dportnoy opened #32 "Medical device data capture and exchange"
**Use case based on project proposal:** This project proposes to assess leading practices and future directions in the capture and exchange of device data at health care delivery sites. Particular focus will be on higher risk devices, Class III and Class II implantable devices. This is a foundational step for the availability of robust device data for use in comparative effectiveness research and

[2015-05-03 17:33] lloydbrodsky commented on #31
First, let me clarify that this is in reference to the Geographic Variation Public Use file found at:

http://www.cms.gov/Research-Statistics-Data-and-Systems/Statistics-Trends-and-Reports/Medicare-Geographic-Variation/GV_PUF.html

This was most recently updated 2/15/2015

It's widely believed that social attributes that don't show up in administrative OR clinical data have a major indirect impact

[2015-05-03 17:47] lloydbrodsky commented on #30
Let me note that there is presently no good public use file that I am aware of for looking at dual eligibles. That's a shame given the high level of interest in dual eligibles and great need in finding ways to handle their more severe than average problems. I know that CMS knows who its dual eligibles are, because the percentage of dual eligibles are reported out in the CMS geographic variation pu

[2015-05-05 20:30] dportnoy commented on #28
Crated page for full use case specifications and solution: http://hhs.ddod.us/wiki/Use_Case_28

[2015-05-06 14:16] dportnoy commented on #28
Verified that there's a potential discrepancy in Plan Finder API.  Contacted Health Data Lead for help in finding data owner.

[2015-05-06 23:02] dportnoy commented on #32
Crated page for full use case specifications and solution: http://hhs.ddod.us/wiki/Use_Case_32

[2015-05-13 17:27] dportnoy commented on #31
Created page for full use case specifications and solution: http://hhs.ddod.us/wiki/Use_Case_31

[2015-05-13 17:27] dportnoy commented on #30
Created page for full use case specifications and solution: http://hhs.ddod.us/wiki/Use_Case_30

[2015-05-13 17:29] dportnoy commented on #27
Created page for full use case specifications and solution: http://hhs.ddod.us/wiki/Use_Case_27

[2015-05-13 17:30] dportnoy commented on #26
Created page for full use case specifications and solution: http://hhs.ddod.us/wiki/Use_Case_26

[2015-05-13 17:34] dportnoy commented on #23
Created page for full use case specifications and solution: http://hhs.ddod.us/wiki/Use_Case_23

[2015-05-13 17:35] dportnoy commented on #22
Created page for full use case specifications and solution: http://hhs.ddod.us/wiki/Use_Case_22

[2015-05-13 17:35] dportnoy commented on #21
Created page for full use case specifications and solution: http://hhs.ddod.us/wiki/Use_Case_21

[2015-05-13 17:35] dportnoy commented on #20
Created page for full use case specifications and solution: http://hhs.ddod.us/wiki/Use_Case_20

[2015-05-13 17:37] dportnoy commented on #18
Created page for full use case specifications and solution: http://hhs.ddod.us/wiki/Use_Case_18

[2015-05-13 17:40] dportnoy commented on #17
Created page for full use case specifications and solution: http://hhs.ddod.us/wiki/Use_Case_17

[2015-05-13 17:42] dportnoy commented on #15
Created page for full use case specifications and solution: http://hhs.ddod.us/wiki/Use_Case_15

[2015-05-13 17:43] dportnoy commented on #14
Created page for full use case specifications and solution: http://hhs.ddod.us/wiki/Use_Case_14

[2015-05-13 17:43] dportnoy commented on #13
Created page for full use case specifications and solution: http://hhs.ddod.us/wiki/Use_Case_13

[2015-05-13 17:43] dportnoy commented on #12
Created page for full use case specifications and solution: http://hhs.ddod.us/wiki/Use_Case_12

[2015-05-13 17:43] dportnoy commented on #11
Created page for full use case specifications and solution: http://hhs.ddod.us/wiki/Use_Case_11

[2015-05-13 17:44] dportnoy commented on #10
Created page for full use case specifications and solution: http://hhs.ddod.us/wiki/Use_Case_10

[2015-05-13 17:44] dportnoy commented on #9
Created page for full use case specifications and solution: http://hhs.ddod.us/wiki/Use_Case_9

[2015-05-13 17:44] dportnoy commented on #8
Created page for full use case specifications and solution: http://hhs.ddod.us/wiki/Use_Case_8

[2015-05-13 18:10] dportnoy commented on #3
Created page for full use case specifications and solution: http://hhs.ddod.us/wiki/Use_Case_3

[2015-05-13 18:11] dportnoy commented on #1
Created page for full use case specifications and solution: http://hhs.ddod.us/wiki/Use_Case_1

[2015-05-22 21:58] dportnoy commented on #28
Still working on getting response from program owners for Plan Finder within CMS's CCIIO group.  Unfortunately, they haven't been responsive for the past 2+ weeks.

[2015-05-23 17:27] dportnoy commented on #32
Waiting on Data User to provide more clarity around Use Case.

[2015-05-27 16:45] DavidXPortnoy opened #33 "History of drug approvals for analytics"
Requesting drug approval data going back as far as possible in history.  This is needed to help inform models for investment in pharma approval process.  FDA provides a website (http://www.accessdata.fda.gov/scripts/cder/ob/) for querying drug approvals, but the query methods provided are suboptimal for the purpose of analytics on the entire dataset and the result sets are missing needed data.

Se

[2015-05-27 17:11] dportnoy opened #34 "Cost of drug approval process"
Provide cost of drug approval process to the FDA, both historically and on an ongoing basis.  This is to be used in conjunction with model identifying optimal pharmaceutical investment decisions.

See specifications, working documents, solutions for this Use Case: http://hhs.ddod.us/wiki/Use_Case_34

[2015-05-28 19:27] dportnoy commented on #29
Discussion with CMS/CPI on potential statutory reasons for missing NPI.

[2015-05-30 15:49] marks commented on #29
+1 - would love to see NPI added to OpenPayments data.

[2015-05-30 18:41] #3 closed

[2015-05-30 18:41] #4 closed

[2015-05-30 18:41] #5 closed

[2015-05-30 18:41] #6 closed

[2015-05-30 18:41] #7 closed

[2015-05-31 18:08] dportnoy commented on #29
@marks Added.  Tks!

[2015-06-02 17:49] Jordanrau opened #35 "Physician Based Modifier Results On Provider Level"
CMS evaluates physician groups -- and soon individual physicians -- on cost and quality and adjusts the pay upward, downward or not all all based on the results. CMS has released the aggregate results for more than 1,000 physician groups: http://www.cms.gov/Medicare/Medicare-Fee-for-Service-Payment/PhysicianFeedbackProgram/Downloads/2015-Value-Modifier-Results.pdf

CMS should releasd how each prov

[2015-06-03 09:20] brandniemann opened #36 "Data Catalogs as Spreadsheets and Participate in Meetups for Feedback on Data Science on HHS Data Sets"
Chris, David, and Damon, Thank you for an excellent DataLab session at HDP 2015.

My suggestions are:

Provide Health.data.gov and cms.data.gov data catalogs in spreadsheet format with web links to metadata, data, and data dictionaries; and

Participate in our Federal Big Data Working Group Meetups to provide feedback to agencies and OMB on data science results (e.g. our USDA Data Science MOOC is

[2015-06-03 16:22] Jordanrau commented on #4
Great idea!

[2015-06-03 21:24] cornstein commented on #35
This makes a lot of sense. It should be released.

[2015-06-03 21:42] Jordanrau commented on #23
This health data would be very valuable to consumers and insurers. I agree that it should be released and updated in a timely basis.

[2015-06-06 04:22] dportnoy commented on #36
@brandniemann Thank you for your entry.  Will process shortly.

[2015-06-06 04:23] dportnoy commented on #35
@Jordanrau @cornstein Thank you for your entry.  Will process shortly.

[2015-06-17 15:25] dportnoy commented on #25
@RxData  Just to confirm, you're looking for SPL for drug only, not devices or biologics.

[2015-06-17 15:56] RxData commented on #25
Yes, we are only interested in prescription drugs.

On Wed, Jun 17, 2015 at 11:25 AM, David X Portnoy notifications@github.com
wrote:

##

Joe Segal

Co-Founder & CTO
_RxData, Inc._
447 Broadway, 2nd Floor
New York, NY 10013
phone: +1 (321) 356-6305
jsegal@rxdata.net | rxdata.net

[2015-06-17 21:43] dportnoy opened #37 "FFM Network Adequacy data to meet directory requirements"
Description: CMS/CCIIO should already have QHP provider network data that it collects annually through the QHP certification process.  The fields in this data should be adequate to meet another requirement for machine-readable files.  We need to see if the fields provided are sufficient and the process can be automated.  If so, we would just need to provide this data on a monthly basis.

Customer:

[2015-06-17 21:49] dportnoy commented on #37
Specifications are located here: http://hhs.ddod.us/wiki/Use_Case_37

[2015-06-19 18:45] ftrotter commented on #37
This is important data. I care about this. It should also be noted that Medicare/Medicaid Advantage plans also have to demonstrate network adequacy. Is this something that can be merged? Should it be its own ticket?

[2015-06-19 18:46] ftrotter commented on #35
Uhmm plus one... Of course if @cornstein  likes it you can probably guess that I will too...

[2015-06-19 18:58] ftrotter commented on #29
This ticket should be closed. The ACA specifically forbids this linking. Drug companies et al are required by law to report to HHS using the NPI. (Which is you read their report here: http://www.cms.gov/OpenPayments/Downloads/Open-Payments-April-2015-Report-to-Congress.pdf was something of a problem for the whole process)

But they are forbidden from releasing that data. To find the law, go to thi

[2015-06-19 19:00] ftrotter commented on #27
This is an important request. I think it should be clarified specifically what is not being released.

We will FOIA this one if nothing happens on it here...

-FT

[2015-06-19 19:01] ftrotter commented on #25
I think this is important for over-the-counter medications as well. Not just prescription.

This is a great idea, BTW.

-FT

[2015-06-19 19:08] ftrotter commented on #2
This should be modified. The title should be "provide automated feedback to NPPES data". As it stands it sounds like its asking for something new, which it isnt. Its just asking for what is already there to be right.

[2015-06-19 19:11] ftrotter commented on #1
The problem with a system like this is the many factors that go into calculating a given CPT code. Like location (i.e. state/Zip etc) and whether it is hospital or provider based. Other kickers...

It might be possible to solve this using the X12 EDI standards.. I vaugely recall some kind of "query for price" functionality defined in one of the lesser used standards... Then you put a RESTful/OAuth

[2015-06-19 19:13] ftrotter commented on #24
It should be noted that this data just does not exist yet. This is asking for totally new data and it should be categorized as "very hard" as a result.

Also there are multiple efforts to consolidate researher ids and just to ensure that pubmed itself has unique ids for researchers.. .stuff like http://www.researcherid.com/ etc

Not sure this is an HHS problem to solve. Although they should do it

[2015-06-19 19:15] ftrotter commented on #21
I seriously doubt this will happen sooner than the machine readable requirements that we discuss here: http://www.docgraph.org/tired-of-out-of-network-insurance-games/

Given that this major initiative is solving this problem. I do not think it is reasonable to think it will be solved by any secondary intermediary effort. Given that I would mark this as a "coming soon" status and take it off the p

[2015-06-19 19:18] ftrotter commented on #20
I fully support this initiative, but this analysis is possible now. Generally, Physician compare provides an OK mapping between doctors and practices, and then the new MU data release is coded by NPI.

However, a TIN association in the MU data directly is entirely appropriate if that was part of the data that was submitted as part of attestation. The provider compare data set is not comprehensive

[2015-06-19 19:24] ftrotter commented on #19
This title should be clarified. It is specifically talking about ACOs.

Generally, getting this data open is what made me famousish. https://questions.cms.gov/faq.php?faqId=7977

Also the ACO members are required to release thier providers on their websites.

In short the data required to this analysis is already open. This should be briefly celebrated then closed.

If we want to have something re

[2015-06-19 19:26] ftrotter commented on #15
This is what the Data Encleave program is for and it is being opened up to industry in  Sept 2015.
http://www.cms.gov/Newsroom/MediaReleaseDatabase/Press-releases/2015-Press-releases-items/2015-06-02.html

We should celebrate the awesomeness of Niall Brennan and team and close this ticket.

-FT

[2015-06-19 19:44] marks commented on #27
What data is being asked for here that is not available at the site that powers the Hospital Compare interface (https://data.medicare.gov/Hospital-Compare/Patient-survey-HCAHPS-Hospital/dgck-syfz)?

[2015-06-19 19:50] ftrotter opened #38 "Core Data Set: ICD patterns to go with the CPT patterns"
This is a dataset that DocGraph considers to be "basic".

It is the ICD patterns, aggregated per NPI, (i.e. diagnosis codes) to go along with the CPT code data release (per NPI) that has already been released..

[2015-06-19 19:52] ftrotter opened #39 "Core Data Set: Provider to patient zip codes"
DocGraph considers this to be a core missing data set:

Provide the zip codes for the patients that providers see... aggregated by NPI.

To fully protect patient privacy I would expect a higher aggregation that typical.. say 50 patients per zip code or something like.

The intent is to get some basic idea of where a provider practices.

-FT

[2015-06-19 19:55] ftrotter opened #40 "Core Data Set: Basic Patient Demographics"
Medicare patients do not all look alike. People with disabilities, who are under the age of 65, can be covered under Medicare. A provider who sees a majority of patients in this category should have their other data points interpreted completely differently.

Similarly, a doctor whose average patient age is 95 should be evaluated differently then one whose patient age is 67.

Tranches of ages and

[2015-06-19 19:57] ftrotter commented on #40
Thoughts @cornstein? Can you endorse?

[2015-06-19 19:57] ftrotter commented on #39
Thoughts @cornstein? Can you endorse?

[2015-06-19 19:57] ftrotter commented on #38
Thoughts @cornstein? Can you endorse?

[2015-06-20 12:50] marks commented on #39
+1

[2015-06-20 12:52] marks commented on #27
@ftrotter question for you, above, when you get a chance

[2015-06-20 13:00] marks commented on #22
+1

@cornstein correct me if I'm wrong but it sounds like a lot of this would be made a lot better if the PUF (from http://www.npdb.hrsa.gov/resources/publicData.jsp) had less restrictions?

Personally, I'd like to be able to `repost the dataset` with the stipulation that I would require others to agree to the other terms such as not trying to identify practitioners or patients

[2015-06-20 13:07] marks commented on #36
@brandniemann - some of what you are looking for should be in the Project Open Data files for data.cms.gov (at http://data.cms.gov/data.json) and healthdata.gov (https://healthdata.gov/data.json).

You might also want to check out the Project Open Data project at https://project-open-data.cio.gov/v1.1/schema/ to advocate for more metadata fields such as data dictionaries, etc. to be included in th

[2015-06-23 19:46] dportnoy commented on #4
Updates made to http://hhs.ddod.us/wiki/Use_Case_4 from notes.

[2015-06-23 19:46] dportnoy commented on #3
Updates to solution details made from notes: http://hhs.ddod.us/wiki/Use_Case_3

[2015-06-23 19:47] dportnoy commented on #20
Updates made from notes to http://hhs.ddod.us/wiki/Use_Case_20

[2015-06-29 15:43] dportnoy opened #41 "Foodborne disease data in NORS (National Outbreak Reporting System)"
Requested via FOIA by BuzzFeed in Aug 2014

Date range requested: January 1, 2008 to preset

[2015-06-29 15:46] dportnoy opened #42 "All data collected for NAMS (National Antimicrobial Resistance Monitoring System)"
Requested via FOIA by BuzzFeed in Aug 2014

Date range requested: All data through present

[2015-06-29 15:48] dportnoy opened #43 "All data collected for PulseNet database"
Requested via FOIA by BuzzFeed in Aug 2014

Date range requested: All history to preset

[2015-06-30 12:04] ghost commented on #25
@RxData I'd like to help with this issue.  Can you say more about the use cases around changes in labeling information?  I have my own from an NLM Pillbox perspective, but want to understand yours.

@ftrotter +1 to OTCs.  A solution for RX labels will most likely be useable for OTC and homeopathic products, with the limitation that their participation in SPL is substantial lower, but growing.

[2015-06-30 20:04] ghost commented on #25
@RxData these calls to the DailyMed may be useful.  I'm not on the DailyMed team, but would be happy to take feedback to them.

Returns the version history for a given Set ID in either json or xml.
http://dailymed.nlm.nih.gov/dailymed/services/v2/spls/{SetID}/history.json
http://dailymed.nlm.nih.gov/dailymed/services/v2/spls/{SetID}/history.xml
example:
http://dailymed.nlm.nih.gov/dailymed/service

[2015-06-30 21:06] dportnoy commented on #25
@lostonroute66  Could you summarize the advantages DailyMed would have over the public use file (http://www.accessdata.fda.gov/spl/data/[SPL_document_id].xml) option?   (Or do you need to hear back from @RxData on additional specifics first?)

[2015-06-30 22:03] ghost commented on #25
@DavidXPortnoy problem with using that option is you need to know the filename [SPL_document_id](id root> in the label) which is different than the Set ID.  Each new version of a label has the same Set ID, but a new filename. The DailyMed history call does not return the file name of the previous versions - only the version number and published date.

A work around would be to look inside the .zip

[2015-06-30 22:06] ghost commented on #25
If it works with how you're organizing these, I would recommend splitting this use case into two.

1) Access previous versions of label xml files (not specifying a source, unless there's a reason)
2) OpenFDA missing HTML formatting markers, such as line breaks

[2015-06-30 22:14] dportnoy commented on #25
Go for it

[2015-06-30 22:19] ghost commented on #25
@RxData do you want to be able to specify the version for which you want an xml file?  Or do you want to give a Set ID and get xml files for every previous version (there can be many in some cases)?

[2015-07-01 03:21] loranstefani commented on #20
Hospital TIN would also be valuable, although I'm not sure where that data should ultimately "reside". Perhaps Hospital Compare's General Hospital Information table (data.medicare.gov view xubh-q36u)? Org-level value also pertinent at the hospital level since Physician Compare lists doc-to-hospital affiliations.

[2015-07-01 06:28] dportnoy commented on #20
@ftrotter, Thanks for your input.  The original requester explained that the NPI-TIN mapping data definitely exists within the context of MU attestation, but unfortunately they can't see it to do meaningful analytics.  Also, from talking with CMS/CCSQ, I believe the TIN-to-NPI matching is used for the "payment adjustment file" being generated internally.

@loranstefani, Thanks for your input.  I a

[2015-07-01 16:10] dportnoy commented on #34
Documentation and solution updated here, based on conversations with FDA's CDER Office of Strategic Programs (OSP): http://hhs.ddod.us/wiki/Use_Case_34

[2015-07-09 04:19] dportnoy commented on #5
Confirmed deployment via OpenFDA scheduled for release this summer.

[2015-07-09 04:19] dportnoy commented on #6
Confirmed deployment via OpenFDA scheduled for release this summer.

[2015-07-13 13:43] dportnoy commented on #37
@ftrotter Thanks for submitting FOIA request for QHP network adequacy files.  Yes, I think it would make sense to have a separate request for Medicare/Medicaid Advantage plans, since it would most likely be fulfilled by different people.

[2015-07-13 20:12] RxData commented on #25
@lostonroute66 (and @DavidXPortnoy ), thank you very much for your comments - very much appreciated.

Agree to the split of:

1) Access previous versions of label xml files (not specifying a source, unless there's a reason)
2) OpenFDA missing HTML formatting markers, such as line breaks

For our purposes, your answers are sufficient for 1) and very valuable (so thanks again!) - so you may close th

[2015-07-15 15:42] ghost commented on #25
@RXData is this last part (Yervoy indications and usage) related to part 2 (line breaks)?

[2015-07-15 16:04] ghost commented on #25
@RxData are you familiar with http://www.fda.gov/Drugs/GuidanceComplianceRegulatoryInformation/LawsActsandRules/ucm084189.htm ?  Especially the "The New Look" section.

On the data side, when a label has Highlights, there will be two Indications and Usage sections.  One in the full label, one in the highlights. Each will have different content as described in the above link.

Can you post and API

[2015-07-16 12:14] dportnoy commented on #42
Requests went to the National Center for Emerging and Zoonotic Infectious Diseases(NCEZID).  CDC's FOIA lead will check with them on updates.

[2015-07-16 12:14] dportnoy commented on #43
Requests went to the National Center for Emerging and Zoonotic Infectious Diseases(NCEZID).  CDC's FOIA lead will check with them on updates.

[2015-07-16 12:17] dportnoy commented on #41
Requests went to the National Center for Emerging and Zoonotic Infectious Diseases(NCEZID).  CDC's FOIA lead will check with them on updates.

[2015-07-16 19:00] dportnoy commented on #37
Added network-level PUF data source (http://hhs.ddod.us/wiki/Use_Case_37)  to use case writeup.

[2015-07-22 17:14] HeatherBrotsos opened #44 "Machine-Readable List of ACA Preventive Procedure Codes"
I am looking for a complete list of all procedure codes associated with preventive services covered under ACA.

[2015-07-22 18:43] dportnoy commented on #44
Thanks for entering your request.  Could you provide more background and relevant links as a starting point.  Is this for Medicare FFS, Medicare Advantage, Medicaid?  Is this related to requirements for plans on the federal insurance marketplace?

Is it just a list of CPTs?  Are there other relevant fields?  How frequently does the data change?

[2015-07-22 18:48] HeatherBrotsos commented on #44
What I need are the services covered by private insurance plans and required by ACA here: https://www.healthcare.gov/preventive-care-benefits/

The key pieces of information that I have thought of are:
CPT Code
Diagnosis code, if applicable
Any other restrictions, (e.g. age requirement, pregnant women, etc.)
Date effective

There are sporadic updates to this list, but I believe plans are required

[2015-07-22 20:00] dportnoy commented on #44
@HeatherBrotsos  Thanks!  We'll get that going.  To structure this request as a Use Case (such as http://hhs.ddod.us/wiki/Use_Cases), can you describe how this data will be used and the value it delivers.

[2015-07-22 20:22] HeatherBrotsos commented on #44
Value: provides a standard source of preventive services that are covered by private insurance plans for free under ACA
Data will be used to examine whether patients are being charged copayments or deductibles for claims filed with qualifying services

[2015-07-23 20:13] dportnoy commented on #44
@HeatherBrotsos Looks like you're referring specifically to FFMs/QHPs, rather than other private plans such as those via Medicare Advantage.  Is that right?  If not, can you provide any additional references to preventive coverage outside of FFMs?

[2015-07-23 20:27] dportnoy commented on #44
Entry for specifications created: http://hhs.ddod.us/wiki/Use_Case_44
@HeatherBrotsos Feel free to edit.  Simply sign on with any Google account.

[2015-07-23 20:35] HeatherBrotsos commented on #44
Yes, that's correct.  Thanks!

[2015-07-27 13:20] dportnoy commented on #44
Update.  Waiting to hear back from internal channels.

[2015-07-30 19:59] dportnoy commented on #29
I pinged @DocSpotHealth via twitter to see if they want to weigh in.

[2015-07-30 22:04] dportnoy commented on #29
Lots of updates made to http://hhs.ddod.us/wiki/Use_Case_29:_Link_Open_Payments_dataset_to_NPI, including acknowledgement to @ftrotter

@waldoj, please weigh in

[2015-07-30 22:08] #29 closed

[2015-08-01 18:22] dportnoy commented on #29
@ftrotter, @marks, @waldoj,  What do you think have been examples of the highest value uses of Open Payments as it stands?  I want to be sure I'm not being overly critical and pointing out the value as well.

[2015-08-04 03:02] waldoj commented on #29
David, I think your summary of the state of things is spot-on, and the legislative explanation is really helpful. I appreciate that HHS cannot do something that is explicitly prohibited by law—there's no getting around that. And both of your proposed solutions (match records or get data from somebody who has matched records) are certainly sensible. I'm afraid my domain expertise is far too weak to

[2015-08-04 19:37] dportnoy commented on #7
Made updates to http://hhs.ddod.us/wiki/Use_Case_7:_National_death_registry_for_outcomes_research
on:
- Workaround for access methods, lag time, refresh rate, cost
- Additional specs specs for outcomes research

[2015-08-05 16:38] betshsu commented on #23
@cornstein @Jordanrau Thanks for entering this use case; sorry for the delay in response.

To help us structure this as a use case, could you describe how the data will be used and elaborate on the value it delivers (beyond simply making the data public)?

Thanks.

[2015-08-05 21:43] dportnoy commented on #25
@RxData  On formatting issues.  Could we recap please.  Looks like there's an open question from @lostonroute66.  It would be good to understand if you're satisfied with where the formatting of the use case ended up or if you have more challenges to address.

[2015-08-06 14:14] dportnoy opened #45 "Formatting on structured product labels"
Split off from use case #25

Specifications are here: http://hhs.ddod.us/wiki/Use_Case_45

[2015-08-06 15:29] dportnoy commented on #25
### Splitting **formatting** into separate use case #45

...so we can manage it better.

Knowledge base: http://hhs.ddod.us/wiki/Use_Case_45

[2015-08-06 16:04] RxData commented on #25
@DavidXPortnoy @lostonroute66 Thanks both for your help! We are now actually all good for both formatting and history. Thanks again very much!

[2015-08-06 23:37] dportnoy commented on #32
Update:  Requestor will know about funding in Sept 2015 and whether to pursue.

[2015-08-12 18:00] betshsu commented on #44
@HeatherBrotsos David scraped the file here for preventive services CPT files: https://www.cms.gov/Medicare/Prevention/PrevntionGenInfo/Downloads/MPS_QuickReferenceChart_1.pdf and created json, txt, and xlsx files.  You can find them on healthdata.gov here: http://www.healthdata.gov/dataset/ddod-use-case-measure-coverage-preventive-care-ffm-insurance-plans (they are also linked to on the wiki entr

[2015-08-12 18:33] HeatherBrotsos commented on #44
Thanks for the quick turnaround.  This looks great for Medicare covered services and will definitely be useful.  There are some distinctions between what is covered by Medicare versus private insurance plans that must now comply with ACA.  For example, services provided specifically to children are not included in the Medicare list.  Unfortunately, there doesn't appear to be one single source of a

[2015-08-12 18:37] betshsu commented on #44
Unfortunately, we don't believe there is a definitive source for private insurance plans.  @DavidXPortnoy can brief based on his discussion with CMS.

[2015-08-13 17:59] HeatherBrotsos commented on #44
After some extensive searching, I finally found a list from CDC with all the codes!  http://www.cdc.gov/prevention/billingcodes.html

[2015-08-13 18:06] betshsu commented on #44
That's awesome.  I guess I can stop reading the UHC and Cigna documentation now...

Do you still need the codes in a machine-readable format?

[2015-08-13 19:59] HeatherBrotsos commented on #44
Well if you have a better idea than what I'm going to do manually, I am all ears.

[2015-08-14 13:26] betshsu commented on #44
ha... well, we can contact CDC to see if there is a more user-friendly file format for the info on the website, but otherwise, we'd probably do something similar to what you will end up doing.  If you do manage to convert the info into a more user-friendly format, it would be great if you'd be willing to share that back with the community.

I assume you noticed the disclaimer at the top of the CDC

[2015-08-14 13:32] marks commented on #44
+1 @betshsu - The CDC has an open data portal at data.cdc.gov that the dataset should really live on so it has machine readable download links and APIs

[2015-08-14 13:36] betshsu commented on #44
Thanks @marks.  I'll see if I can find it there and post the link if so; since it's not CDC-originated data, I'm not sure if it will be in their data catalog.

[2015-08-14 13:38] marks commented on #44
@betshsu it wouldnt be on there but it definitely should be!

[2015-08-14 13:40] betshsu commented on #44
@marks Oh, sorry, I misread your comment -- I read it as it "should be on there"

[2015-08-16 00:42] dportnoy commented on #44
There might be other ways to obtain CPT codes actually in use by QHPs.  The data most likely exists within CMS/CCIIO collected for the risk adjustment submissions.  It remains to be determined whether its possible to get a hold of aggregated, de-identified CPT data.

"Risk adjustment data will include ... enrollee claims and encounter data that resulted in a payment to institutional and medical pr

[2015-08-17 14:44] declan opened #46 "Medicaid MCO data"
I'm looking for information on Medicaid Managed Care Organizations. Each state's info is published separately in one of [these 50 PDFs](http://www.medicaid.gov/medicaid-chip-program-information/by-topics/delivery-systems/managed-care/managed-care-profiles.html), but it would be nice if the data were aggregated somewhere.

It looks like the Data and Systems Group published a report on this [back in

[2015-08-17 14:50] betshsu commented on #46
Thanks @declan.  To structure this request as a Use Case (such as http://hhs.ddod.us/wiki/Use_Cases), can you describe how this data will be used and the value it delivers?

[2015-08-19 13:28] betshsu commented on #46
@declan We have a call with the folks that produce the Medicaid Managed Care Enrollment Report next week to get more info.  Can you clarify exactly which data fields are of interest (or all?)?

[2015-08-19 14:19] betshsu commented on #46
Entry for specifications created: http://hhs.ddod.us/wiki/Use_Case_46

@declan, feel free to edit.  Just sign in with any Google account

[2015-08-19 18:54] HeatherBrotsos commented on #44
That's an interesting angle, which I think would produce some great insights.  A defined list of codes that they should be using is still of interest too.  I'm working on converting the information I found from CDC into a format conducive to analysis and I'll share that once I have something.

[2015-08-19 20:11] betshsu commented on #28
Wiki has been updated with info regarding PlanFinder: http://hhs.ddod.us/wiki/Use_Case_28

Short answer -- PlanFinder is not meant to comprehensive search of all healthcare plans.  It is only intended for off-exchange plans, and even then it may be missing plans for a number of reasons.

[2015-08-20 04:42] declan commented on #46
Hi @betshsu I do intend to fill this out, will get to it by Friday at the latest.

[2015-08-20 13:29] betshsu commented on #46
Thanks @declan.  Would be great to have the info before Monday so we can be as informed as possible going into the call.

[2015-08-20 17:39] betshsu commented on #22
@cornstein I'd like to open conversions with HRSA around this and use case #23 (performance data on health centers)

In approaching program owners, it would be helpful to be able to demonstrate the value and the use of the data, and also to have clarity around the following:
- Is it primarily a matter of finer granularity in the data fields currently available on the web tool (e.g., not rolling up

[2015-08-20 18:27] betshsu commented on #24
Another big player in the researcher ID space is ORCID (http://orcid.org), which also supports an API for their database (at varying access levels for the public to paying members http://orcid.org/organizations/integrators/API).  A lot of journals are encouraging, if not requiring, authors to have an ORCID when they submit a manuscript.

While NIH is linking to ORCID with the new SciENcv (http://w

[2015-08-20 20:03] betshsu commented on #35
@Jordanrau @cornstein @ftrotter Have you see the updates that have been made to the wiki of related use case #4 (http://hhs.ddod.us/wiki/Use_Case_4)?

[2015-08-20 20:32] betshsu commented on #44
We just received an Excel version of what is on the CDC website.  I would like to verify it against the various sources they scraped the data from and then hopefully get permission to share it publicly.

[2015-08-20 21:25] ghost commented on #25
Procedure for accessing previous versions of labels via DailyMed API has been added to DDOD wiki, [Use Case 25](http://hhs.ddod.us/wiki/Use_Case_25:_History_for_structured_product_labels).

Thank you @RxData and @dportnoy

@DavidXPortnoy could you please close this issue?  thx

[2015-08-20 22:14] HeatherBrotsos commented on #44
That’s great news!  It would be great to work from an official HHS version.  In the meantime, I copied the codes into a .csv file and have begun the process of transforming the ranges into an itemized list.  I was going to post back here when complete, but here is the work in progress: https://github.com/HeatherBrotsos/ACA-Preventive-Services/tree/master/data

The first is a direct copy of the inf

[2015-08-24 17:05] betshsu commented on #44
Thanks for posting; I think your version will have more information than the CDC version (which is really just what is on the website), but I will go ahead and verify the file we received from CDC and adjust the formatting to make it a bit friendlier and then post.

[2015-08-24 17:34] dportnoy commented on #46
@declan We had a call with the Data and Systems Group (DSG).  Some more recent and consolidated data can be made available imminently and there are future data reporting changes coming up that could affect your workflow.  We're in the process of identifying what information can be publicly released and should have an update shortly.

[2015-08-25 19:04] betshsu commented on #44
@HeatherBrotsos I have uploaded the Excel and text files I received from CDC here: https://github.com/betshsu/DDOD-use-case-44; in addition, I also uploaded the pdfs that were used as the source files for the codes.

The format in the CDC Excel file mirrors what is on the website, so it is not the most friendly for analytic purpose.  In the repo, there is a "billing codes modified" Excel file wher

[2015-08-25 20:28] HeatherBrotsos commented on #44
This is awesome!  Especially appreciate all the source documents.  Documenting what codes apply to each service seems to be one of the hardest parts!

We are definitely thinking along the same lines.  See here for my attempt to convert the ranges into a list of all codes: https://github.com/HeatherBrotsos/ACA-Preventive-Services
As I'm sure you know, the structure of these codes makes it particula

[2015-08-25 20:37] betshsu commented on #44
Agreed, the data gets complicated quickly, and the only QC I have done so far is to make sure the Excel file matched what was on the CDC website, since CDC indicated that there was a possibility that changes had been made directly to the html that were not reflected in the Excel file.

Just an FYI, I am still looking at whether we can publish the Medicare CPT codes -- there are potential copyright

[2015-08-25 20:59] #25 closed

[2015-08-25 21:04] #28 closed

[2015-08-25 22:25] dportnoy commented on #44
@HeatherBrotsos Thanks for publishing that repo!

[2015-08-26 20:36] dportnoy commented on #23
@cornstein @Jordanrau  As we work with the data owners on identifying whether and how this data could be released, it would be helpful if you could provide more context around it.  Doing so increases the likelihood and speed of fulfilling a request.  We're looking for specifics about how the data would be used, fields needed, and the value to yourself and public health.  Thanks!

[2015-08-28 19:44] dportnoy commented on #28
Received POC from the HC.gov team.  May want to confirm some assumptions and update documentation.

[2015-09-01 15:53] betshsu commented on #28
Source PUF added on wiki; also confirmed via HC.gov team that data returned from PlanFinder API is the same as that returned by the front end website.

[2015-09-03 19:14] dportnoy commented on #5
Update: OpenFDA has made new device data available
- Announcement: https://open.fda.gov/update/openfda-unveils-cache-of-medical-device-data/
- Location of added data on OpenFDA  (https://open.fda.gov/device/event/)
  - Device classification: https://open.fda.gov/device/classification
  - 510(k): https://open.fda.gov/device/510k
  - PMA: https://open.fda.gov/device/pma
  - Registration and listing:

[2015-09-03 19:15] dportnoy commented on #5
@wdanford Could you please itemize items still missing from original specifications?  Do you still need to continue with FOIA requests?

[2015-09-03 19:16] dportnoy commented on #6
Update: OpenFDA has made new device data available
- Announcement: https://open.fda.gov/update/openfda-unveils-cache-of-medical-device-data/
- Location of added data on OpenFDA  (https://open.fda.gov/device/event/)
  - Device classification: https://open.fda.gov/device/classification
  - 510(k): https://open.fda.gov/device/510k
  - PMA: https://open.fda.gov/device/pma
  - Registration and listing:

[2015-09-03 19:16] dportnoy commented on #6
@wdanford Could you please itemize items still missing from original specifications?

[2015-09-04 17:00] betshsu commented on #24
@yashgad any thoughts on the workaround proposed above involving NIH RePORTER?

[2015-09-09 20:06] betshsu commented on #30
@lloydbrodsky Can you clarify what is deficient about the Medicare-Medicaid Linked Enrollee Analytic data source (MMLEADS; https://www.cms.gov/Medicare-Medicaid-Coordination/Medicare-and-Medicaid-Coordination/Medicare-Medicaid-Coordination-Office/Analytics.html) and the Chronic Conditions Data Warehouse (https://www.ccwdata.org/web/guest/home).  Is it a matter of granularity (wanting individual-le

[2015-09-10 05:26] dportnoy commented on #38
@ftrotter, could you elaborate on what is meant by "core data set"?

This articular use case refers to provider utilization data, but with ICD instead of CPT, right?  Could you identify the specifications: fields needed, level of aggregation, time period, refresh rate, etc.

[2015-09-10 05:28] dportnoy commented on #39
@ftrotter, could you specify all of the fields needed in this dataset.

[2015-09-10 05:29] dportnoy commented on #40
@ftrotter, could you specify all of the fields needed in this dataset.

[2015-09-10 12:51] cornstein commented on #40
Hi @DavidXPortnoy @ftrotter. CMS is currently processing this request as a FOIA, so I think we'll just handle it that way. Thanks!

[2015-09-10 12:53] cornstein commented on #39
FWIW, I think that you could draw the following fields: NPI, Patient zip on record, count -- and this would be unique patients within a calendar year, using zip at a single point in time (and note that point in time). I actually don't think you need to redact at 50. I think the current CMS threshold of 11 should work just fine.

[2015-09-10 12:54] cornstein commented on #39
Furthermore, I think this could potentially help CMS and HHS flag providers who appear to have moved but didn't update their NPI numbers. If a provider lists a practice address as TX but all their patients come from Florida, it may be worth asking if the provider has moved.

[2015-09-10 13:00] cornstein commented on #23
Hi there, it appears from the website included earlier that HRSA collects a wealth of data from health centers. I've pasted below the fields HRSA says it collects. This will allow media and the public to compare health center performance, look at oversight of centers by HRSA, identify those who practice at high levels and those in need of improvements and provide consumers who rely on the health c

[2015-09-10 13:22] betshsu commented on #23
Thanks; I'll work on documenting this and start conversations with HRSA.

[2015-09-10 14:06] dportnoy commented on #39
@cornstein, thanks!  @ftrotter, anything to add?

[2015-09-10 14:20] dportnoy commented on #40
@cornstein, do you have any params on the FOIA request -- text of request, date requested, estimated delivery, etc.?  Also, we're experimenting with processing DDOD in parallel with FOIA to use the work done for a request as an opportunity to create ongoing data refreshes.

[2015-09-10 17:28] betshsu commented on #23
Is the performance data of interest different than what is available here:

http://bphc.hrsa.gov/uds/datacenter.aspx

Full national report: http://bphc.hrsa.gov/uds/datacenter.aspx?q=tall&year=2014&state=
(Excel export available in upper right hand corner, though I have issues exporting the full report, but can export table by table)

State level data (with drill down to health center level): http

[2015-09-11 16:46] dportnoy commented on #16
Update: Original requestor, @doctor.com has been successful in their first batch submission via I&A.  Updated instructions are here: http://hhs.ddod.us/wiki/Use_Case_16:_3rd_party_updating_of_NPPES#Update_via_I.26A

[2015-09-11 17:22] betshsu commented on #5
Wiki has been updated with info regarding new R&L API under Solution/Long term implementation http://hhs.ddod.us/wiki/Use_Case_5:_Consolidated_registry_of_marketed_medical_devices#Long_Term_Implementation

[2015-09-11 17:23] betshsu commented on #6
Wiki has been updated with info on new Recall API and how it joins to Enforcement API under Solution/Long term solution http://hhs.ddod.us/wiki/Use_Case_6:_Consolidated_reporting_of_medical_device_recalls#Long_term_solution

[2015-09-14 19:03] betshsu commented on #26
@RxData CMS recently released the PDE as part of the data release for innovator research http://www.resdac.org/cms-data/request/innovator-research.  Instructions on how to apply for access and pricing are on that site.  Does this meet your needs or are there still deficiencies in the data?

@FlaviuSim I believe that the release still may not need your needs because of the time lag and refresh rate

[2015-09-15 13:03] betshsu commented on #46
We have confirmation that the 2013 and 2014 data will be released in both Excel and pdf format.  There are a number of Excel files, some with more information than in the pdf.

The 2013 data is now up here: http://www.medicaid.gov/medicaid-chip-program-information/by-topics/data-and-systems/medicaid-managed-care/medicaid-managed-care-enrollment-report.html

Here is my quick summary of the content

[2015-09-17 19:17] betshsu commented on #9
@cornstein Is this data still of interest?  If so, could you articulate the value and use of the data so that it can be structured as a use case?  Thanks.

[2015-09-17 19:19] betshsu commented on #10
@cornstein Is this data still of interest?  If so, could you articulate the value and use of the data so that it can be structured as a use case?  How far back would you like the data to go?  Thanks.

[2015-09-17 19:20] betshsu commented on #11
@cornstein Is this data still of interest?  If so, could you articulate the value and use of the data so that it can be structured as a use case?  Thanks.

[2015-09-17 19:21] betshsu commented on #13
@cornstein Is this data still of interest?  If so, could you articulate the value and use of the data so that it can be structured as a use case?  Is the only additional data field you would like is product name, or is there other missing information?  Thanks.

[2015-09-17 19:25] betshsu commented on #12
@cornstein Is this data still of interest?  If so, could you articulate the value and use of the data so that it can be structured as a use case?  Thanks.

[2015-09-18 06:01] dportnoy commented on #27
Update...  Checking again with originator to fully define the use case specs.

[2015-09-18 06:01] dportnoy commented on #19
Update...  Checking again with originator to fully define the use case specs.

[2015-09-18 06:21] dportnoy commented on #34
Update...  Checking again with originator to identify suitability of solution and next steps.

[2015-09-18 06:30] dportnoy commented on #35
Tweeting @Jordanrau for input on prior question about relation to use case #4.

[2015-09-18 06:51] dportnoy commented on #21
@loranstefani Could you comment on @ftrotter's assertion.  Do you agree?

I've also personally done quite a lot of design work and writing on machine readable provider directory and plan coverage.  Let me know your thoughts on the topics described in the links below in relation to your original needs.

---

Entries in DDOD knowledge base:
- http://hhs.ddod.us/wiki/Interoperability:_Provider_networ

[2015-09-18 07:18] dportnoy commented on #15
@ftrotter Do you know anyone who has already started getting this new data?  Any challenges so far?

[2015-09-18 07:19] dportnoy commented on #15
Also, might look outside of de-ident claims for provider quality.  Examples are DDOD use cases:
- https://github.com/demand-driven-open-data/ddod-intake/issues/3
- https://github.com/demand-driven-open-data/ddod-intake/issues/4
- https://github.com/demand-driven-open-data/ddod-intake/issues/27
- https://github.com/demand-driven-open-data/ddod-intake/issues/35

[2015-09-18 07:20] dportnoy commented on #15
Update...  Asking originator to respond to comments and further refine specifications.

[2015-09-18 12:18] loranstefani commented on #21
Given that I submitted my FOIA requests for HPOES and PECOS to be made
public in August of 2014, with no response or follow-up, I'd say Fred's
assessment is pretty accurate. Yes, machine readable standards will solve
this problem eventually (hopefully), but it could be expedited by
publishing HPOES/PECOS, which was the crux of this data request.

S. Loran Cook
Product Evangelist and Quality Assura

[2015-09-18 14:36] Jordanrau commented on #35
Hi David,

Sorry for the delay in responding. I’m not sure what your question is. In response to the comments on the wiki:

(1)  Regarding confidentiality: I’m not a FOIA expert, but I am pretty sure that payments by Medicare are public regardless of CMS pledge to keep the data confidential. The Part B/Wall Street Journal case should have resolved that issue.

(2)  Value: The MIPS is major change

[2015-09-19 00:08] dportnoy commented on #21
@loranstefani  Thanks for your feedback!  I need to check into a couple related items and will post an update.

[2015-09-19 00:14] dportnoy commented on #35
@Jordanrau Thank you for the feedback!  We'll do some more digging and post an update.

[2015-09-23 20:45] betshsu commented on #16
Some further clarifying information added to the I&A instructions in the wiki.

[2015-09-23 21:55] declan commented on #46
@betshsu I believe this covers it, reviewing tonight. Thank you very much for helping to make this public.

[2015-09-24 13:24] betshsu commented on #46
@declan Great, let us know if there is anything missing that you need.

[2015-09-27 23:09] CongressmanKagen opened #47 "KagenAir Public Education Project = Real-Time Influenza Monitoring and Reporting"
I will soon be writing tele-prompter texts and creating associated animated videos for local TV weathermen and women nationwide focusing on the Control and Prevention of Influenza.

The animated television video reports will be based upon both real-time (daily) de-identified influenza-related claims data from CMS-HHS and other sources using the following codes:

CPT  Codes
87804        (Influenza

[2015-09-28 05:14] dportnoy commented on #47
@CongressmanKagen Thanks!  We'll get the process going and have updates posted here.

[2015-09-28 14:03] ghost commented on #47
Morning David -

Let's focus on using the CPT codes I sent to you to ID people with Flu-like
symptoms.

Tomorrow, I will be speaking with Dave Walker at CDC-BioSense to confirm
that these CPT and ICD-9 and ICD-10 codes are consistent with their
BioSense algorithm.

Steve

On Mon, Sep 28, 2015 at 12:14 AM, David X Portnoy notifications@github.com
wrote:

[2015-09-28 14:17] marks commented on #47
+1!

It would be great to see some open data coming out of CDC-BioSense

@CongressmanKagen - do you have a website explaining the `KagenAir Public Education Project`?

[2015-09-28 15:12] GeekNurse commented on #47
+1 as well.

@CongressmanKagen - how are you accounting for the claims lag in terms of data usually available upon paid date? I would think weatherman/weatherwomen would want near realtime accurate information (i.e., claims that just happened aggregated) which is not what claims data provides due to the lag in both fileing and paying the claims which can be 60+ days in some cases. Also might be co

[2015-09-28 16:42] betshsu commented on #24
Edit -- I should add that the workaround using NIH RePORTER isn't limited to physicians funded by NIH -- it will work for other HHS agencies that also use the same grants management system as NIH, so ACF, AHRQ, CDC HRSA, and FDA (and also VA)

[2015-09-28 20:21] #46 closed

[2015-09-29 15:23] betshsu commented on #46
Updated wiki with info regarding update frequency and content of Excel files.

[2015-09-29 15:26] betshsu commented on #44
Updated wiki with info regarding definitive list of preventive service codes covered by private insurance plans and issues regarding publishing alternate data formats due to AMA licensing of CPT codes.

@HeatherBrotsos if you've made any progress with transforming the CDC data, let us know.  Thanks!

[2015-09-30 15:11] cornstein commented on #9
Hi @betshsu This information is still of use. Currently, the public has no way to know how much CMS pays particular institutions for residency and fellowship programs. It would be helpful to know, for each institution and program, the number of residents/fellows, the amount of money paid by CMS and other variables that CMS collects on each program.

[2015-09-30 15:26] cornstein commented on #22
Hi @betshsu. Thank you for your questions. This is primarily a matter of granularity. For instance, sanction type isn't broken down by type of sanction--all state licensure sanctions are grouped together. And you can only display your results in very limited ways.
It would be great to also be able to see how many providers have various types of actions, from lawsuit settlements to state sanctions.

[2015-09-30 15:34] cornstein commented on #26
I believe it is in CMS' interest--and in the benefit of the ongoing important national discussion--to have more real-time information on payments for drugs (in the aggregate). I would support figuring out a way to see this data refreshed with minimal lag.

[2015-09-30 15:37] cornstein commented on #23
There does not seem to be a way to access all the data for all health centers in a single spreadsheet. Is there? Am I missing it?

[2015-09-30 15:47] marks commented on #23
@cornstein I am looking for the same thing... havent found it yet. Also, the export to excel seems to just put the HTML into a .xls file and hope that Excel can use its logic to extract data from the HTML `<table>` elements

[2015-09-30 15:58] betshsu commented on #23
@cornstein No, I don't think there is a way to get all the health centers in a single spreadsheet.  Would you want all the info available for a single health center profile (e.g. http://bphc.hrsa.gov/uds/datacenter.aspx?q=d&bid=1011770&state=AK&year=2014) for all health centers in a single spreadsheet?  (though clearly, Excel is a suboptimal way to achieve this).

I'll start talking to HRSA about

[2015-09-30 15:59] betshsu commented on #9
Okay, thanks.  I'll start looking into this and see what I can dig up.

[2015-09-30 16:00] betshsu commented on #22
Great, thanks.  That's helpful info for approaching HRSA about what might be possible.  I'll open the conversation with them.

[2015-09-30 16:03] marks commented on #23
Even just getting all the `bid`s and their state code would at least allow someone to scrape it. The XLS doesnt provide anything more structured or machine-readable than the HTML unfortunately

[2015-09-30 16:07] cornstein commented on #23
@betshsu Yes, to be able to get all the elements from every profile into a single/multiple spreadsheets (doesn't have to be Excel) is exactly what I'm asking. Its clearly available in an electronic format and the site is clearly being powered by something like that, but it's not available easily to the public.

@marks You are right. The export tool is pretty worthless.

[2015-09-30 16:09] betshsu commented on #23
@marks Thanks -- yeah, I'll bring up the format issue as well.  Perhaps they'll allow us to work on something internally if they don't have capacity to improve it themselves.

@cornstein Thanks.

[2015-09-30 19:36] betshsu commented on #22
Reached out to HRSA to find a contact for the National Practitioner Data Bank web tool.  Will update as things progress.

[2015-09-30 19:37] betshsu commented on #23
Updated the wiki with the information above -- feel free to edit -- and reached out to HRSA for a contact.  Will update as things progress.

[2015-09-30 20:32] benefitkitchen opened #49 "API for Federal Poverty Level"
The federal poverty level (FPL) is used to determine eligibility for a number of federal, state, and local social support benefits.

e.g. a benefit eligibility calculation might look something like:
if { [head-of-household-income] < 185% * FPL-for-[N-family-size] }
then
{eligible for .2 * FPL-for-[N-family-size] }
Return benefit amount.

and would translate in numbers to:
if { $2000/mo < 185% * $1

[2015-09-30 20:56] betshsu commented on #49
We could certainly start looking into it and see what kind of headway we could make with the data owners.  It would be up to the data owners whether to implement an API.

Quick clarification -- by federal poverty level are you referring to the Census poverty thresholds or HHS poverty guidelines?

[2015-10-01 01:29] dportnoy commented on #49
@declan, @greggish, @lloydbrodsky, would you care to weigh in on this request?

Also seems it would be useful for many Code for America projects. So please ping your CfA friends.

[2015-10-01 01:40] benefitkitchen commented on #49
Hello Elizabeth,

I'm looking forward to figuring out how DDOD works. This is my first
foray... I hope it's an appropriate, well-formed request.

Regarding your question: my primary interest is re: HHS poverty guidelines.

Best,
Dan

On Wed, Sep 30, 2015 at 4:56 PM, Elizabeth Hsu notifications@github.com
wrote:

##

Daniel Beeby • Technical Director • Self-Sufficiency Solutions •
http://benefitkit

[2015-10-01 13:18] betshsu commented on #49
@benefitkitchen welcome!  I assume you found DDOD through the wiki http://ddod.us, but if not, that's the place to start to get oriented.  Basically, DDOD is a platform for users to let HHS agencies know what data needs they have that aren't yet being met.  DDOD acts as a moderator to try to help you find the right data and interact with the data owner; DDOD doesn't own any of the data, so if and

[2015-10-01 15:46] benefitkitchen commented on #49
Thank you Elizabeth. Yes, those are the data.

Best
Dan

---

Sent from my cordless phone. Please excuse brevity and errors.
On Oct 1, 2015 9:18 AM, "Elizabeth Hsu" notifications@github.com wrote:

[2015-10-01 17:27] betshsu commented on #49
Thanks -- will start looking into it.

[2015-10-01 18:10] greggish commented on #49
I know that calculating eligibility is a serious challenge for many people in many contexts -- from service referral to benefits enrollment to affordable housing etc -- and income is one of the harder components of eligibility. This would be a small but significant piece of a hugely important puzzle.

[2015-10-01 18:25] benefitkitchen commented on #49
Thanks for the endorsement, Greg.

[2015-10-01 18:26] greggish commented on #49
cc @noah-t @lomaxrx @sariyie @daguar

[2015-10-01 19:43] betshsu commented on #49
Looks like ASPE already has the data in CSV, XML, and JSON (see links just above the html table): http://aspe.hhs.gov/dataset/2015-poverty-guidelines

Is there anything else beyond what is published here that would be useful (e.g. historical information)?

[2015-10-01 19:43] dportnoy commented on #47
Use case specification in progress: http://hhs.ddod.us/wiki/Use_Case_47

[2015-10-01 20:21] daguar commented on #49
We've actually prototyped this already over at CFA: https://github.com/codeforamerica/fplapi cc @mapsam who has led that work.

[2015-10-01 22:30] mapsam commented on #49
Indeed! Project idea began here: https://github.com/codeforamerica/project-ideas/issues/70 and has been implemented as a really crude Flask API that just uses a JSON file as the datasource, instead of a database. You can query the API like

[code]

and it returns

[code]

I liked this suggestion, which seems to fit what you all have been talking about.

The next step, other than hoping for @daguar

[2015-10-02 14:26] benefitkitchen commented on #49
This is great progress everyone. Thank you for locating the file. The
annual upkeep is an important element of that. Since we'll be utilizing the
data, I'd be happy to be on the team helping keep it fresh.

There are also "two kinds" of federal poverty level... there are "fall" and
"spring" numbers (some benefits use the most up-to-date numbers and some
use the older version for an additional peri

[2015-10-02 17:23] mapsam commented on #49
Historical numbers are definitely important. They already exist as [JSON in the API](https://github.com/codeforamerica/fplapi/blob/master/fpl.py) and you can add `year` to the query. If no year is added, it defaults to the current year.

[2015-10-02 17:23] mapsam commented on #49
Also, feeling inspired yesterday I pushed the FPL API up to Heroku and it works at a real URL now!

http://fplapi.herokuapp.com/api?size=3&income=2000&income_type=monthly

[2015-10-02 18:45] betshsu commented on #49
@mapsam Thanks -- I'm going to link to this on the wiki entry for this use case, which I started here: http://hhs.ddod.us/wiki/Use_Case_49:_API_for_Federal_Poverty_Guidelines

Looks like you are using the HHS ASPE data and are storing the data within the API as you linked above.  I noticed that ASPE has different guidelines for contiguous 48 vs Alaska and Hawaii: http://aspe.hhs.gov/2015-poverty-g

[2015-10-02 19:17] betshsu commented on #49
@mapsam -- I added info re: your API here: http://hhs.ddod.us/wiki/Use_Case_49:_API_for_Federal_Poverty_Guidelines#Long_term_implementation

Please feel free to edit if I missed anything or got anything wrong.  Thanks!

[2015-10-02 19:20] betshsu commented on #22
Talking next week with the folks that run the NPDB to see what disclosure issues might prevent providing data at a finer granularity.

[2015-10-02 20:00] benefitkitchen commented on #49
Last year's numbers will do the trick.

[2015-10-03 16:34] dportnoy commented on #19
Update...  Held discussion with @ fibroblast, one of request originators.  They said they'll provide additional specifications after internal discussion and review of available data sources.

[2015-10-05 18:53] svidyan opened #50 "2015 Rate PUF data incomplete"
I noticed that the 2015 Rate PUF data does not contain rates for sources from SERFF and OPM. It contains only rates information for source from HIOS.

While the Plan Attributes PUF for 2015 contains all data from sources SERFF, OPM and HIOS.

I am now having difficulty getting the rates for plans that have a source of SERFF or OPM.

Please let us know if this issue will be fixed or is there a diff

[2015-10-06 21:18] dportnoy commented on #49
I updated specifications section of http://hhs.ddod.us/wiki/Use_Case_49.  @mapsam, @daguar, feel free to suggest changes.

[2015-10-07 19:07] betshsu commented on #50
Hi @svidyan, thanks for your entry.  Have you already contacted the help email for the Marketplace PUF and not gotten a response?  Just wanted to check before doing any inquires.  Just to clarify, we are not the direct data owners for any of the HHS data.  Thanks.

Edit to clarify: We can definitely help you pursue this; just trying to gather info on whether you've already contact CMS and what kin

[2015-10-07 21:26] svidyan commented on #50
Thanks for your message. Yes, I have contacted the hep email and did not
get a response to my question. It was a general purpose response.

Regards,
Sri

On Wed, Oct 7, 2015 at 3:07 PM, Elizabeth Hsu notifications@github.com
wrote:

[2015-10-07 21:33] betshsu commented on #50
Good to know, thanks.  We'll start looking into this and see what headway we can make in understanding why there are differences in the data and what can be done to resolve them.  To clarify, have previous years rate PUFs contained sources from SERFF and OPM and this is change in the 2015 data?

[2015-10-08 13:49] betshsu commented on #50
Created the wiki entry here: http://hhs.ddod.us/index.php?title=Use_Case_50

@svidyan Can you either edit the wiki or post here with how you will be using the data?  Also feel free to add further specifications, etc.  Thanks.

[2015-10-08 14:11] betshsu commented on #22
Had a conversation with the folks that run the NPDB web tool.  It's not clear that the platform used to host the web tool would allow anything further than a 2x2 table (e.g., adding additional fields like the OPTN tool allows), but you can choose which fields to display as row and columns as well as filtering data (so for example, you could get sanction type by practitioner type, but it would be r

[2015-10-08 17:49] dportnoy commented on #27
Per conversation with originator, here are additional requirements:
1. Need a lower level of granularity: Broken by hospital department, rather than hospital level.
2. It's useful to have the number of samples requested, not just # of responses
3. We need to be able to look at number of responses as a fraction of number of acute care discharges (can be obtained elsewhere) to identify validity / tr

[2015-10-08 17:51] dportnoy commented on #37
@ftrotter  What did you hear back from FOIA on your request?  We may be able to work this one as FOIA / DDOD "parallel" request.

[2015-10-08 18:04] dportnoy commented on #17
Closing use case.  The contents have been moved into #27 (more granularity for HCAHPS scores) and #19 (network referral leakage reduction).  The rest of items mentioned here could be moved to ["Leads"](https://github.com/demand-driven-open-data/DDOD-Leads/issues) repo, since they're not specific enough for a use case.

[2015-10-08 18:10] #17 closed

[2015-10-16 03:01] dportnoy commented on #19
## Potential data problem:

DocGraph had a recent data retraction associated with the Teaming dataset mentioned at http://radar.oreilly.com/2012/11/docgraph-open-social-doctor-data.html and https://questions.cms.gov/faq.php?faqId=7977.

Details and possible fix is posted here: http://www.docgraph.org/notice-teaming-data/.

[2015-10-16 16:39] dportnoy commented on #45
Closing per @RxData...

[2015-10-16 16:43] dportnoy commented on #45
@RxData what dat source, clarification, or change ultimately met your needs for formatting?

[2015-10-16 16:43] #45 closed

[2015-10-16 18:07] dportnoy commented on #39
Specifications documented here: http://hhs.ddod.us/wiki/Use_Case_39

[2015-10-16 18:10] dportnoy commented on #40
Specifications documented here: http://hhs.ddod.us/wiki/Use_Case_40

[2015-10-16 18:12] dportnoy commented on #38
@ftrotter, checking in on above questions

[2015-10-16 18:16] dportnoy commented on #38
Specifications documented here: http://hhs.ddod.us/wiki/Use_Case_38

[2015-10-16 23:53] dportnoy commented on #43
Closing.  Moved to "Leads" section (https://github.com/demand-driven-open-data/DDOD-Leads/issues/9) until this request could be defined as a use case.

[2015-10-16 23:53] #43 closed

[2015-10-16 23:53] dportnoy commented on #42
Closing.  Moved to "Leads" section (https://github.com/demand-driven-open-data/DDOD-Leads/issues/9) until this request could be defined as a use case.

[2015-10-16 23:53] #42 closed

[2015-10-16 23:53] dportnoy commented on #41
Moved to "Leads" section (https://github.com/demand-driven-open-data/DDOD-Leads/issues/9) until this request could be defined as a use case.

[2015-10-16 23:53] #41 closed

[2015-10-17 03:07] dportnoy commented on #1
Closing. Moved to "Leads" section (demand-driven-open-data/DDOD-Leads#10) until this request could be defined as a use case.

[2015-10-17 03:07] #1 closed

[2015-10-17 03:23] dportnoy commented on #2
Closing. As it stands, this item has elements of provider directory interoperability efforts (http://hhs.ddod.us/wiki/Interoperability:_Provider_network_directories), the NPPES on FHIR concept (http://david.portnoy.us/provider-network-directories-on-fhir/) and IDEA Lab's NPPES modernization project (http://www.hhs.gov/idealab/projects-item/modernizing-the-national-plan-and-provider-enumeration-sys

[2015-10-17 03:23] #2 closed

[2015-10-17 03:28] dportnoy commented on #18
Closing.  In 2/2015, there were discussions with Purple Binder and ACF to submit a use case around specific metrics for social determinants of health.  That has not materialized.

[2015-10-17 03:28] #18 closed

[2015-10-17 05:00] dportnoy commented on #10
@cornstein this use case potentially has a lot of merit.  Looks like you're right about not having much history.  Only 2014 and 2015 are available for query online via https://data.cdc.gov:
- https://data.cdc.gov/browse?category=NNDSS&tags=2014: 13 items
- https://data.cdc.gov/browse?category=NNDSS&tags=2015: 17 items

Compared to the above the MMWR PDFs have different level of detail:
- Table I (

[2015-10-17 05:18] dportnoy commented on #12
@cornstein, Interesting.  The http://www.fda.gov/Safety/Recalls/ seems to have only a subset of actual recalls.  It identifies several disclaimers:
- The list provides information gathered from press releases and other public notices about _certain_ recalls of FDA-regulated products
- Not all recalls have press releases or are posted on this page
- While it includes Food, Drugs, Animal Health, Bio

[2015-10-17 05:19] dportnoy commented on #11
@cornstein, we haven't heard back from you in 7 months and will need to close the use case if we don't get more input on, specifically:
- How you plan to use the data.
- What's the value of this data to your organization and the public at large.
- Specifications: List fields needed, refresh frequency, lag time, history, ability to join certain fields with other datasets, data format (CSV, JSON, Ex

[2015-10-17 05:21] dportnoy commented on #13
@cornstein, while we can't commit, we might be in a good position to help you, since we've recently fulfilled a use case that included the use of Enforcement Reports.

But since we haven't heard back from you in 7 months and will need to close the use case if we don't get more input on, specifically:
- How you plan to use the data.
- What's the value of this data to your organization and the publi

[2015-10-17 05:34] dportnoy commented on #15
Closing use case, since it's not specific enough to be actionable and other use cases already deal with provider quality.  Some are based on de-identified or aggregated claims: #38, #39.  Others on MU, PQRS, and VBM metrics: #3, #4, #35.  Also CAHPS consumer surveys #27 and HRSA health center performance #23.  Will reopen if @doctor.com has other specifications.

[2015-10-17 05:34] #15 closed

[2015-10-17 05:37] dportnoy commented on #16
Update: Waiting on confirmation of planned release from data owner.  Once we can document it, this use case can be closed.

[2015-10-17 05:48] dportnoy commented on #44
Closing, since solution to original request has been provided.  If in the future AMA licensing allows hosting CPT codes in additional locations, links will be posted here.

[2015-10-17 05:48] #44 closed

[2015-10-17 05:55] dportnoy commented on #34
Closing, since data has been provided.  Please not we're unable to get confirmation from requestor as to whether their needs were fully met.

[2015-10-17 05:55] #34 closed

[2015-10-17 06:02] dportnoy commented on #32
Closing until user is able to provide specifications.  It appears there was a related pilot project that has not yet started.

[2015-10-17 06:02] #32 closed

[2015-10-17 06:10] dportnoy commented on #30
@lloydbrodsky, we'd love to make some progress on this one, but need to confirm you're still engaged, since it's been about 5 months.  (BTW, apologies about the long delay on our side.  There was quite a backlog.)

Could you respond by Fri 10/23.  Thanks!

[2015-10-17 06:33] dportnoy commented on #24
@betshsu can you confirm that matching NPI to PubMed (via RePORTER) is a technical challenge, rather a legal, regulatory or privacy limitation?

Also, is this linking possible via ORCID and is it free to use?

[2015-10-17 06:42] dportnoy commented on #19
@fibroblast, could you provide input into your needs by Fri 10/23.

[2015-10-17 06:51] dportnoy commented on #33
We need to confirm specifications and relevancy with originator of request.

[2015-10-18 03:10] dportnoy commented on #36
@brandniemann, thank you for your suggestion.

+1 on @marks comment noting that there's a well defined DCAT-complaint schema described at https://project-open-data.cio.gov/v1.1/schema/.  It's used throughout all of federal government and harvested up to http://data.gov.

However, there hasn't been wide adoption of indexing of the field-level data dictionary.  If there are sufficient resources, we

[2015-10-18 03:10] #36 closed

[2015-10-18 06:08] dportnoy commented on #35
@Jordanrau, @cornstein, @ftrotter, based on the sunsetting and sensitivity reasons provided by the data owners for Use Case #4 against funding efforts to make VBM detail available, I think your best route may be to start with a FOIA request.  FOIA requests have a lot of weight behind them and could overcome these hesitations, even if some of them are coming from the general counsel.  The biggest c

[2015-10-19 03:09] dportnoy commented on #8
Closing.  Contacted original CAPRICORN requester to clarify specifications, but looks like this request is no longer a priority.

[2015-10-19 03:49] #8 closed

[2015-10-19 15:34] brandniemann commented on #36
David, Thank you. I have found a way to do this semantic linking and index searching in Spotfire and will show that for the DataAct Data sets at our November 16th meetup:

http://www.meetup.com/Federal-Big-Data-Working-Group/events/225137696/

Best regards, Brand

From: David X Portnoy [mailto:notifications@github.com]
Sent: Saturday, October 17, 2015 11:10 PM
To: demand-driven-open-data/ddod-inta

[2015-10-20 14:22] betshsu commented on #24
@dportnoy To clarify, my workaround does not directly match NPI to PubMed -- it is based on using names, which will have fuzzy matching issues on both ends (the NPI and the RePORTER end).  I can't speak from the perspective of CMS and NPI, but there is no legal, regulatory, or privacy limitation in looking up a person in RePORTER to obtain their publication list from the NIH end.  That is all publ

[2015-10-21 20:21] lloydbrodsky commented on #30
Mr. Portnoy,
I haven't disappeared. I've been working through the issues of how to get around the limitations of the public use files. The short version is what I originally had in mind won't work and I'm working with an academic to get data out of the ResDAC that we think will. Those discussions have been going on part-time for a few months. The longer version is, well, longer.
As you'll recall t

[2015-10-26 15:07] Jordanrau commented on #35
Ok thanks for getting back to me.

Jordan

Jordan Rau | Senior Correspondent | Kaiser Health News | 202.654.1362 | @jordanrau | jrau@kff.orgmailto:jrau@kff.org

From: David X Portnoy [mailto:notifications@github.com]
Sent: Sunday, October 18, 2015 2:09 AM
To: demand-driven-open-data/ddod-intake
Cc: Jordan Rau
Subject: Re: [ddod-intake] Physician Based Modifier Results On Provider Level (#35)

@Jor

[2015-10-30 17:39] dportnoy commented on #35
@Jordanrau  please let me know if you choose the FOIA route.  Thanks!

[2015-11-02 22:47] doctorcom-reed commented on #16
@dportnoy  -- we've managed to make updates, BUT, this method only works for individual NPIs that are NOT marked as "Y" in the 'sole_proprietor' field ..... so about 50% of the listings (and the ones most likely to be inaccurate). So, waiting on CMS to resolve.

[2015-11-03 22:17] #37 closed

[2015-11-04 00:03] dportnoy commented on #40
An update has been made on 10/5/2015 to the relevant tables of CY 2012 and CY 2013 "Medicare Provider Utilization and Payment Data: Physician and Other Supplier" datasets that includes the items asked for.  Provider-level summary tables now include aggregated information on the following beneficiary attributes:
1. Age
2. Sex
3. Race
4. Medicare and Medicaid entitlement
5. 16 chronic conditions
6.

[2015-11-04 00:03] #40 closed

[2015-11-04 00:45] dportnoy commented on #37
Closing use case.   The relevant data needed to recreate the entire network for a QHP can now be found in the "Machine-readable URL PUF" (aka, MR-PUF).   The solution has been posted here: http://hhs.ddod.us/wiki/Use_Case_37#Solution

[2015-11-04 00:49] dportnoy commented on #19
@fibroblast, closing for now, since needed input not yet provided.  Can reopen if that changes.

[2015-11-30 16:55] betshsu commented on #23
@cornstein I apologize for the lack of updates -- I haven't managed to get a response from the program owners to any of my inquiries, so I am attempting some other channels.

[2015-11-30 21:49] betshsu commented on #50
@svidyan Sorry for the delay in following up while we were waiting for an update on data use and specifications from you.

I wanted to check in on how you were trying to load the 2015 Rate PUF data.  I have finally gotten around to downloading and loading the Rate PUF data and don't see an issue with OPM or SERFF plans missing from the "SourceName" field.  However, in order to load the full datase

[2015-12-07 19:06] betshsu commented on #23
Update -- we have a call scheduled with the program owner on Dec 8 to see whether and how the issues discussed here can be addressed

[2015-12-07 19:07] betshsu commented on #22
Update -- the program owners have some ideas that they would like to discuss with us; we'll be setting up a time in the next couple of weeks with them.

[2015-12-08 16:18] betshsu commented on #23
@cornstein @marks
Looks like HRSA took the complaints from multiple stakeholders about the health center data not being truly machine readable to heart and is working on improvements to the export of the health center data. The 2014 data is currently up; they are still working on exports of the national and state level aggregate data, but you can get machine readable data on the individual health

[2015-12-08 16:24] betshsu commented on #9
@cornstein Sorry for the delay in updates.  We have been working on internal processes with CMS in an effort to avoid duplicate requests to CMS program staff on the same issues; we are doing some internal checking with CMS on the GME question.

[2015-12-08 16:24] #49 closed

[2015-12-08 16:25] betshsu commented on #50
@svidyan checking in again on the question above.  Thanks.

[2015-12-08 19:14] svidyan commented on #50
I believe the 2016 data looks fine. I am able to retrieve HIOS, SERFF and
OPM data.
Thanks for looking into this.

Sri

On Tue, Dec 8, 2015 at 11:25 AM, Elizabeth Hsu notifications@github.com
wrote:

[2015-12-08 19:18] betshsu commented on #50
Great thanks for confirming.  If you still need the 2015 data, you should try downloading the file again -- it may have been updated since you first downloaded, as I am able to see SERFF and OPM data in it.

[2015-12-08 19:20] #50 closed

[2015-12-14 19:38] betshsu commented on #22
Talking to program owners on Dec 16 re: potential ideas for tool improvement

[2015-12-16 18:40] betshsu commented on #22
@cornstein We spoke with the program owners today; they are supportive of allowing for more granularity in the 2x2 tables available via the web tool, with the stipulation that results might need to be restricted to a minimum cell size in order to protect against disclosure.  The most feasible time frame for improvements to the tool are for those improvements to be rolled out in conjunction with th

[2016-01-05 16:22] cornstein commented on #22
Thanks so much for doing this. I'm happy to be a part of a conversation
about how the data could be more useful. I very much understand and support
that the data needs to be restricted to a minimum cell size in order to
protect against disclosure (CMS does this now), although it's worth
including in those discussions that cell size minimums should display 0.
Zero should not be redacted (CMS does n

[2016-01-05 16:23] cornstein commented on #23
Hi Elizabeth. This is great. Is there any way to pull down the entire
nation in a single spreadsheet for those of us who do national
reporting/analysis?

Thanks,
Charlie

On Tue, Dec 8, 2015 at 11:18 AM, Elizabeth Hsu notifications@github.com
wrote:

[2016-01-05 19:05] betshsu commented on #23
@cornstein To clarify, when you reference the "entire nation in a single spreadsheet" would you just want an exportable form of the aggregate national tables on the website (e.g., the tables here: http://bphc.hrsa.gov/uds/datacenter.aspx?q=tall&year=2014&state=&fd=) or would you want the health center level data in the state reports (one row per health center) for the entire nation in a single exp

[2016-01-05 19:06] cornstein commented on #23
It's the latter. Thanks. 

—
Sent from Mailbox

On Tue, Jan 5, 2016 at 2:05 PM, Elizabeth Hsu notifications@github.com
wrote:

[2016-01-05 19:08] betshsu commented on #23
Thanks for the confirmation -- we'll contact the program owners and see what can be done.

[2016-01-05 19:09] betshsu commented on #22
@cornstein Good point about the displaying the 0's.  We have a conversation with the program owners scheduled this week to start discussing the technical issues behind improving the web tool, and will add this to the list.  We will consult/loop you in as we get into further discussions of the exact data that would be most useful for the web tool to be able to display -- I know the program owners a

[2016-01-07 20:06] betshsu commented on #22
We had to reschedule this meeting for next week; will post an update after the meeting.

[2016-01-08 18:30] betshsu commented on #23
@cornstein Currently, if a download for all US health center data is requested, the Bureau of Primary Health Care directs the requester to HRSA's FOIA office, after which a file with the data will be mailed.

That said, the HRSA program owners did think it was worth exploring making this process available through the public-facing website -- we'll continue to investigate this option with them and

[2016-01-08 18:46] cornstein commented on #23
Thanks. Given that you can download each state, it would make sense to make the whole country downloadable too. It would make sense for HRSA to model itself after CMS in this way.  Thanks. 

—
Sent from Mailbox

On Fri, Jan 8, 2016 at 1:30 PM, Elizabeth Hsu notifications@github.com
wrote:

[2016-01-08 21:35] betshsu commented on #9
@cornstein I apologize for the delay, it's taken a while for CMS to get back to us how on how they would prefer to handle this request.  Unfortunately, CMS would prefer for this request to be submitted through FOIA.  We need to respect the boundaries of how our agencies would prefer to handle data inquiries, and apologize that it has taken this long to get a response that results in a FOIA submiss

[2016-01-11 15:52] betshsu commented on #27
This information is not currently a priority for the requester, so use case being closed pending further interest and specifications from the requester.

[2016-01-11 15:52] #27 closed

[2016-01-11 15:54] betshsu commented on #38
@ftrotter We wanted to check in again on the specifications around this request, or if you have already submitted a FOIA request for this data.  Thanks.

[2016-01-11 15:57] betshsu commented on #39
@ftrotter We wanted to check in again on the specifications around this request, or if you have already submitted a FOIA request for this data. Would the fields suggested by cornstein meet your needs? Thanks.

[2016-01-11 15:59] betshsu commented on #47
@CongressmanKagen In order to pursue this as a use case, we would need more specifications around the datasets of interest.  Could you please identify the HHS datasets specifically of interest (e.g., Biosense or Medicare claims data) and data specifications such as location granularity and lag time?  Thanks.

[2016-01-11 16:33] #19 closed

[2016-01-11 16:36] #35 closed

[2016-01-11 16:43] betshsu commented on #16
@doctorcom-reed CMS is aware of this issue and is looking to address it with future NPPES updates.  However, they cannot confirm a date for this change, and don't anticipate anything prior to late 2016.  Given this info, are you okay with closing this use case for now?  Thanks.

[2016-01-11 18:17] betshsu commented on #24
@yashgad Having re-read your original request again, it seems that while the database you'd like does not exist, what you want to achieve is already possible with existing open data sources with the caveat that it is reliant on name matching in two different databases (NPI and PubMed), where we know there are issues with name disambiguation.  Unless I am misunderstanding what you are after, the pr

[2016-01-11 19:40] yashgad commented on #24
Agree that this may not be an HHS problem to solve @betshsu. We are currently solving this problem the way you have outlined (basically mapping the npi to whatever author or PMID we can find). But  what I was hoping for was a more standardized and universal ID database, either generated by pubmed or by hhs in coordination with NIH or some other body where there would be an established linking at s

[2016-01-11 19:46] betshsu commented on #24
@yashgad Agreed that the solution is hacky; unfortunately, I think the best push forward for a universal ID (at least from the author/researcher angle) is via journals that are requiring authors to register for ORCID and other similar IDs.  It is a movement that is slowly gaining momentum and PubMed is ready to ingest the IDs, so hopefully it will lead to improvements on the author disambiguation

[2016-01-11 20:36] betshsu commented on #21
@loranstefani Some of the information documented in Use Case 37 http://hhs.ddod.us/wiki/Use_Case_37:_FFM_Network_Adequacy_data_to_meet_directory_requirements on the Machine-Readable PUF (MR-PUF https://www.cms.gov/CCIIO/Resources/Data-Resources/marketplace-puf.html) may start to get at some of your data needs.

Specifically, for Marketplace health plans, the MR-PUF provides URLs for index JSON pag

[2016-01-11 22:12] betshsu commented on #24
Information documented on wiki here: http://hhs.ddod.us/wiki/Use_Case_24:_Mapping_of_NPI_number_to_PubMed_ID#Solution

[2016-01-11 22:12] #24 closed

[2016-01-13 15:59] betshsu commented on #22
@cornstein The program owners absolutely agree that 0's should be displayed when minimum cell size restrictions are implemented, as 0 has a very different meaning.

The program owners would like to explore linking the three data tools for NPDB they current have available, the PUF, the web tool, and the statistic reports as they all are based on the same data.  They   are looking into linking the w

[2016-01-15 14:48] betshsu commented on #31
Our colleagues at NIST and CNRI have been working on "mashups" of various datasets and had done prior work integrating Census data with FEMA.  They approached HHS about experimenting with mashups of HHS datasets, so we suggested this use case as a possible candidate.

CNRI has piloted combining the CMS data and the Census/Dartmouth Atlas data, with maps that display hospital service area boundarie

[2016-01-15 17:49] marks commented on #31
@betshsu what type of CMS/Census data and use cases are NIST and CNRI working on?

My colleagues and I have experience and ideas for this but the technical details and user experience nearly always depends on the datasets needing to be "joined."

Quick and simple example: http://www.opendatanetwork.com/region/0400000US48-0500000US48453-0400000US51-0500000US51013/Texas-Travis_County_TX-Virginia-Arl

[2016-01-15 18:04] betshsu commented on #31
@marks NIST/CNRI started with the datasets mentioned in the wiki here: http://hhs.ddod.us/wiki/Use_Case_31:_Explaining_utilization_with_demographic_data

From their prior work, they already had a live connection to the Census dataset; they downloaded the Dartmouth Atlas data and did some processing to make it compatible with their Census data and to make it available in an interactive way.  The CM

[2016-01-20 17:40] betshsu commented on #26
ResDAC has indicated that at the moment, there are no intentions of reducing the lag time on the PDE data to less than one year, as it takes a full year to receive fully mature claims.  If the data were to ever become available on a quarterly basis, an announcement would be posted on the front page of the ResDAC website.

[2016-01-25 23:47] ph-jdeng opened #51 "Hospital cost information with MS-DRG and revenue center specificity"
Seeking to compare the average costs of medical/surgical supplies for each MS-DRG across hospitals and against reimbursement amounts. The goal is to identify potential cost management opportunities.

Requesting hospital cost information for for-profit use with the following fields:
<ul><li>hospital name, zip code/city</li>
<li>average total cost per patient per MS-DRG assignment (or total cost per

[2016-01-26 17:55] betshsu commented on #51
@ph-jdeng A couple of questions:
- Can you let us know which CMS datasets you requested assistance for from ResDAC or other CMS sources (I see you mentioned Cost Reports)?
- Have you identified a specific dataset within the Limited Datasets that appears like it might have the data of interest, but isn't sufficiently well documented to determine?
- Finally, have you reviewed the MedPAR data diction

[2016-01-26 18:07] loranstefani commented on #51
This is an interesting request. I can tell you from working with the datasets that I use (all LDS datasets put out by CMS), you can't do this right now. The Cost Report gives medical/surgical supplies by department, but not by claim, or by MS-DRG. Then the data sets that do give data at the claim/MS-DRG level don't report supplies costs. You can get Medical/Surgical Supply Charge Amount from MedPA

[2016-01-26 18:08] betshsu commented on #51
@loranstefani Thanks -- that's very useful, as I'm not nearly as familiar with the multitude of CMS datasets as you are

[2016-01-26 19:51] ph-jdeng commented on #51
@loranstefani thanks for clarifying some the constraints of the various datasets.

@betshsu A couple different correspondents from ResDAC have directed us to the cost reports, Inpatient LDS, and MedPAR datasets, but none have been able to speak to how cost information is collected or compiled. As loranstefani mentioned, MedPAR seems to only contain charge information with no mentions of cost data

[2016-01-27 21:24] betshsu commented on #51
@ph-jdeng Thanks for this.  We can try approaching CMS program owners to clarify how cost information is collected or complied, but we would need to identify the specific dataset of interest as there are a multitude of program owners for all possible datasets you mentioned.  It would be helpful if you could identify:
- The dataset that appears to be the most relevant to the information you are loo

[2016-01-27 23:38] ph-jdeng commented on #51
I think the cost reports would be the most pertinent dataset even though it does not contain claim- or DRG-level information. Here are some specific questions we have:

<ul><li>Are hospitals calculating costs at the DRG- and revenue center-level or are they calculating a cost-charge ratio for a revenue center at the hospital-level and applying that across the board for all DRGs?</li>
<li>Is there

[2016-01-29 17:52] betshsu commented on #51
@ph-jdeng Thanks -- we'll see if we can get an internal contact for the Cost Reports data and determine how to best proceed with CMS

[2016-01-29 20:49] betshsu commented on #16
@doctorcom-reed Wanted to check in again and see if you had any objections to closing this use case.  Thanks.

[2016-01-29 20:50] betshsu commented on #21
@loranstefani Wanted to check in and see if the MR-PUF helps address this request.  Thanks.

[2016-02-02 20:23] betshsu commented on #10
While CDC only provides MMWR historical information back through 2014, Project Tycho out of the University of Pittsburgh provides machine readable historical information back through 1888.  See wiki for full specifications http://teal.ddod.us/wiki/Use_Case_10:_Historical_archive_of_disease_outbreaks

[2016-02-02 20:23] #10 closed

[2016-02-08 17:06] DamonDavis commented on #11
@cornstein I was able to get an update recently.  I spoke with someone from CDC Vessel Sanitation Program which falls under Division of Emergency and Environmental Health Services. Fascinating discussion about the inspection process from beginning to end of the ship construction process and plans to their regular departures.  They have a small staff, many of them traveling a majority of the time,

[2016-02-08 19:34] cornstein commented on #11
Thanks @DamonDavis. This is a perfect example of where someone at OpenCDC should help them. It's unfair to put the burden on small programs. But CDC and HHS should centrally identify high opportunity data sets and devote the resources to bringing them into the "open data" age. Happy to talk more about this.

[2016-02-08 20:58] DamonDavis commented on #11
This is one of our big challenges, taking the universe of data and trying to prioritize which data sets require attention and resources. Working on it!

[2016-02-09 13:50] chapdad opened #52 "Comparing Drug Coverage across Marketplaces"
We have been been looking at drug coverage in the various marketplaces, but have been hampered by both missing URLs and incorrectly entered information.  How can we get more plans to submit and/or update their URLs.  This is compulsory information, right?

Will the PUF update throughout the year with updates/fixes?

Does anyone verify the URLs?

[2016-02-09 15:52] dportnoy commented on #52
@BAP-Jeff  Would you provide a link to the data you're using and a couple examples that illustrate the issues you describe.  Thanks.

[2016-02-09 15:58] cornstein commented on #11
@DamonDavis I know!

[2016-02-09 17:38] marks commented on #11
is there anyway a member of the public can help them? Web scraping?

[2016-02-09 17:44] DamonDavis commented on #11
It's a great question, I think the challenge is both producing a dataset of the existing data, AND providing the capability for them to add future data via an easy data entry platform that produces updated data over time.  I'll try to gauge their interests and report back.

[2016-02-09 18:46] ghost commented on #52
Sure thing.

The PUF is located here -[https://www.cms.gov/cciio/resources/data-resources/marketplace-puf.html]

From this page, you will find a link to - [http://download.cms.gov/marketplace-puf/2016/machine-readable-url-puf.zip] The zip file expands to an XLSX file.

I have uploaded the file to my database and pulled an extract for you.  See the attached XLSX file [URLIssues.xlsx](https://github

[2016-02-09 18:51] ghost commented on #52
You will see that a contact is provided in some cases.  I started hitting up a few of the people listed to see if they had an updated URL.

Got this from Molina:  http://stg-oh-medicaid.molinahealthcare.com/JSON/index.json

[2016-02-09 22:54] dportnoy commented on #52
@BAP-Jeff, Seems you have identified some legitimate problems.  Yes, I do believe that the information in these files is mandatory for plans participating on FFMs.

Could you give us some background in terms of how you want to use the drug formularies.  (In the language of DDOD, this would be the “use case”.)  Knowing this would help us resolve the request.  We can then start the process of invest

[2016-02-09 23:20] ghost commented on #52
David,

Thanks for taking a look.  My firm is looking to make comparisons of tier status across a variety of Branded Drugs.  Additionally, we would want to see if there are any differences in the access to these drugs through the use of prior authorizations, quantity limits or steps.  We would like to be able to display geographic/medal level differences (or lack there of) in the branded market

A

[2016-02-09 23:23] ghost commented on #52
David,

This might be helpful [https://www.cms.gov/CCIIO/Resources/Data-Resources/Downloads/Disclaimer_for_Machine_Readable.pdf](url).

It states that the data will not only be provided, but will be updated monthly.

Jeff

[2016-02-10 06:41] dportnoy commented on #52
@BAP-Jeff, thanks for the explanation.  We'll investigate with the program owners and see what could be reported back.

Thanks for offering to share your insights!  Hopefully, it could be a great resource for the community.

A side question for you...  How straight forward is it to compare tier status across plans?  I thought that the actual benefit design and naming varies widely, so it's hard to

[2016-02-10 12:30] ghost commented on #52
Regarding the side question, CMS's spec forces the plans to abandon numbered tiers and standardize on just a few common tier names (i.e. GENERIC, PREFERRED-BRAND).  CMS also forces the plans to provide standard Drug IDs (from RXNORM).  Both of these decisions make it easy to compare drugs in an apples to apples way.

[2016-02-10 21:38] dportnoy commented on #52
@BAP-Jeff, update... Waiting to hear back from program owners.

[2016-02-10 22:39] ghost commented on #52
I still owe you that update on the URLs that I fixed by hand...it is going to take me to Friday given my current travel.

Thanks for jumping on my issue!

[2016-02-11 15:03] ghost commented on #52
Here is the updated Excel file with the list of URLs I fixed by hand.

[URLIssues.xlsx](https://github.com/demand-driven-open-data/ddod-intake/files/126549/URLIssues.xlsx)

[2016-02-12 13:03] marks commented on #11
Darn! I was so close to getting the data scraped with some Python code until I realized the pagination on the form use Javascript which my current method (https://gist.github.com/marks/0a082fb53475d8fe51aa/148b4434496bc30712395de39175d1bf82c6cb4f) doesnt support :(

So close.

[2016-02-12 14:56] DamonDavis commented on #11
I love that you're trying!!! Thank you tons!

[2016-02-12 17:12] marks commented on #11
@DamonDavis - no problem. I _will_ find a way :)

[2016-02-12 17:37] dportnoy commented on #11
+1 @marks
Plus this keeps your Mechanize skills sharp!

[2016-02-12 17:45] marks commented on #11
@DamonDavis @dportnoy - here is some working Python code to get the data: https://gist.github.com/marks/0a082fb53475d8fe51aa

This loops month to month because the ASP form that has to be used to paginate the full results is pretty wonky. I'm on a plane right now with slow internet but will post a full file next week.

No amount of web scraping is better than having the source provide APIs and exp

[2016-02-12 17:49] dportnoy commented on #52
@BAP-Jeff Thanks for the Excel file.  That was helpful.  I got some preliminary feedback from the program owners this morning, but still waiting for them to send me additional clarifying info.  Stay tuned.

[2016-02-16 22:13] marks commented on #11
All - I have finished a first pass at a program to grab data for the 3,569 inspections since 1990 which appear to be responsible for 88,811 line-item deficiencies. I look forward to digging into the data but I wanted to liberate the raw data as soon as possible.

https://github.com/marks/cdc-cruise-ship-inspections

Now comes the fun part...  analysis! Feel free to add ideas to my github repo's is

[2016-02-16 22:24] marks commented on #11
One more thing... I quickly spun up a visualization of the summary data using a Socrata open data tool\* -- live link at https://soda.demo.socrata.com/view/asyc-j2sk and screenshot attached below

`* full disclosure: I work for Socrata`

![cdc_vsp_cruise_ship_inspections_-_summary_file___socrata](https://cloud.githubusercontent.com/assets/34566/13093223/184377e4-d4d2-11e5-9fea-5aeba794e7f9.png)

[2016-02-17 15:57] dportnoy commented on #11
@marks Thanks!  Looks like you got around the pagination challenge by limiting the search by month, right?  Hopefully, that will hold for the future as well.

I'd like to experiment with scheduling a daily process to run on healthdata.gov to update this dataset.  Would you mind if we adopt some of your code for it?  (BTW, I still need to find out from the program owners how far back the data could

[2016-02-17 17:41] marks commented on #11
@dportnoy Indeed - As long as there are less than 100 inspections per month which seems to be the trend, it should be fine.

You're A-OK to use the code with some attribution (I'll add a license to the repo soon) but I think it would be best to host on data.cdc.gov if it's going to be anywhere official (such as healthdata.gov) as folks go there to look for CDC.gov data.

[2016-02-18 02:37] dportnoy commented on #11
@marks  Sounds good.  I'll reach out again to the CDC program owners and get their input on the hosting question.  Exciting.

[2016-02-18 14:54] dportnoy commented on #52
@BAP-Jeff Apologies for the delay.  Still waiting for some confirmations from program owners.  I've also created a crawler that might be helpful for everyone in the future.

[2016-02-18 20:52] ghost commented on #52
Thanks for the update....

Re: Crawler...that makes two of us then ;-) ... I shielded you from some of the other funkiness with the URLs.  If you crawl the initial URLs and then hit all the branches, you'll see some other fun stuff, that needs fixing but I thought I would leave my first round to what seemed like the highest priority items.

[2016-02-19 17:57] dportnoy commented on #52
@BAP-Jeff  Do you have code you wouldn't mind sharing for the crawling?  I've only been able to set aside small periods of time to the endeavor.  (In addition to addressing your use case, I'd like to be able to provide more complete datasets for a [Bayes Hack](http://bayeshack.org/) challenge we've designed.  It's coming up in April.)

[2016-02-19 19:12] ghost commented on #52
Oh no share it...no problem.  I run this from inside our jenkins instance, but here is the guts of the python script that runs.  I am focussed on the formularies so that is what I pull down specifically.

If there is something specific you want let me know.  If you need help on the challenge just hit me up at jeff@breakawaypartners.com.

You will see the script is made to hit a database, but we/yo

[2016-02-23 20:23] dportnoy commented on #51
@ph-jdeng  Still working on it.  Ball is in our court.

[2016-02-24 06:20] vaibkv commented on #29
I can do this linking if it's not illegal to do it.

[2016-02-24 19:47] dportnoy commented on #29
@vaibkv  Thanks for your note.  The legislation explicitly forbids this linking by CMS/HHS.  That said, there have been some organizations that have done this on their own for various purposes.  But without objective analysis, it's hard to identify the degree of accuracy they were able to achieve.  Regardless, any resulting data unfortunately cannot be posted here.

[2016-02-25 14:02] vaibkv commented on #29
Got it...thanks!

On Thu, Feb 25, 2016 at 1:17 AM, David X Portnoy notifications@github.com
wrote:

[2016-02-26 16:45] ghost commented on #52
David,

I just went out and checked the Marketplace PUF file and looks like it was updated on the 22nd.  It is much better than before.  I will updated you when I run through the crawl over the weekend.

We went from 196 NOT SUBMITTEDs to 18!!  See the list below of NOT SUBMITTERs.  Really just one company.

Thanks for getting on them,

Jeff

# State, IssuerID, IssuerName

FL, 48121, Cigna Health

[2016-02-27 20:47] dportnoy commented on #52
@BAP-Jeff  Not sure I can take the credit.  The program owners were already working on the cleanup and are using their own quality reporting metrics.  I'll run my code against the new dataset as soon as I get a chance and we can compare notes.

[2016-03-02 17:29] ghost commented on #52
David,

I wanted to continue to share with you what I am finding in the data.  As I mentioned I am primarily interested in the HIX formulary.  As such I have extracted the information from the JSON documents and uploaded it to our RedShift instance.  I wanted to start with some Quality Checks.  There are a number of issues in the files, for instance, wrong RXCUIs being used (looks like NDC), very

[2016-03-02 17:33] chapdad opened #53 "Is there an update to - Use Case 46: Medicaid MCO Data"
We had been hoping for an updated file in February.  Anyone have an update?

Thanks,

Jeff Stewart

[2016-03-04 04:53] dportnoy commented on #53
@BAP-Jeff  The Excel files originally requested for #46 have been made available online.  Which aspect of that request were you interested in?

cc: @DamonDavis

[2016-03-04 04:53] dportnoy commented on #52
@BAP-Jeff  Thanks for the analysis.  No need to open a separate issue.  Let's keep the conversation here.  I'm waiting until next week to hit up the program owners again, due to their core commitments.

In the mean time, perhaps you could educate me (and others) a bit more on this topic.  I'd like to have a good feel for what range of values would have been expected versus actually observed.  For

[2016-03-04 11:29] ghost commented on #53
David,

I was referring to the solution section - "
- The 2014 data should be available in Feb 2016 and will be published in
  both pdf and Excel format. (info updated 14 Jan 2016)."

The data has yet to be updated.

Jeff

On Thu, Mar 3, 2016 at 11:53 PM, David X Portnoy notifications@github.com
wrote:

[2016-03-04 13:44] ghost commented on #52
David,

Thanks for taking a look.
1. I believe the API documentation provides a solid list of values that
   everyone should be able to use.  The overall aim (I believe) is to create
   an apples to apples comparison between plan formularies.  As such, I think
   they should be locked into a list of acceptable values.  I updated my
   spreadsheet with another worksheet that lists what I think the

[2016-03-04 18:42] ghost commented on #52
Hmm I don't see the spreadsheet I had attached.

Here it is.

[HIXStatus.xlsx](https://github.com/demand-driven-open-data/ddod-intake/files/159201/HIXStatus.xlsx)

[2016-03-09 17:02] dportnoy commented on #52
@BAP-Jeff
- Yes, I think it would be helpful if you could provide a list of plans struggling with consistency in drug tier naming (per question # 2).
- For the entries missing drug IDs, is this an accurate summary...  Approximately 3% of entries are missing drug IDs (~900K entries out of ~33,600K total).  This issue impacts 5K unique drug names from 31 plans.
- I requested an update to the schema

[2016-03-09 18:14] ghost commented on #52
@dportnoy
- I will work on creating the list of companies
- For missing drug IDs that sounds right

And if I was king...I would require that the plans put a date in the JSON documents for last update date.  Not the entire document just in the header.  They are suppose to update these documents monthly.  I am getting a sense that rule is not being followed.

But again overall, this is quite an achi

[2016-03-20 01:22] dportnoy commented on #52
## Data quality, validation, compliance
-   The Compliance group within CMS/CCIIO is responsible for overseeing the daily crawl of plan and formulary sites.  (This data is aggregated for use with internal and 3rd party tools.)
-   At the moment, Compliance checks the existence of links and Plan data.  They don’t do any checks on the formulary data.
-   CCIIO reviews and takes action on a “tracking

[2016-03-20 01:43] dportnoy commented on #52
@BAP-Jeff  Take a look above.  Hopefully, it answers some of your questions.

It would be helpful if you'd like to rename the title of this issue to describe the purpose of the use case.  In other words, to focus on what you wanted to accomplish with the data, rather than just the problems with it.  Thanks.

[2016-03-21 14:07] ghost commented on #52
@dportnoy

I updated the use case name, not the most creative one, but it was what my original purpose was.

As for the Use Case write-up, it is helpful for sure.  I understand this is a process that will improve over time, so I certainly hope at some point someone decides to:
1. Validate drug ids
2. Enforce a drug tier/status nomenclature
3. Not allow restrictions to be optional
4. Add a date to

[2016-03-30 22:28] ghost commented on #52
@dportnoy

I have been digging in deeper into the Marketplace PUF files specifically the Plan Attributes file.  Given all the work we have done on the Machine Readable file, I was looking to link the two PUF files by IssuerID.  For the most part things connected, but I have found hundreds of records that appear to  have no Formulary records.  Is this anything you heard about or investigated?

If n

[2016-04-04 18:50] dportnoy commented on #52
@BAP-Jeff  Apologies for the delay.  I was out for a couple weeks.  Sure, it would be good if you could post your findings on missing formulary records.  (Note, that dental plans are not expected to have formulary data.)  In general, CCIIO works to help issuers get past common problems.  So my personal opinion is that shining a light on problems could only help improve the data quality over time.

[2016-04-06 16:58] dportnoy commented on #26
Updated http://ddod.us/wiki/Use_Case_26#Solution for clarity, due to renewed interest.

[2016-04-08 18:46] chackoge opened #54 "FDA: Purple Book Data"
The FDA Orange Book provides downloadable data on drugs. The FDA Purple Book is available only as a spreadsheet in PDF format and has less data. Providing a machine readable version that is updated monthly and contains at least as much data as the Orange Book including listings of relevant patents would greatly support the kinds of valuable studies exemplified by [Williams et al. (2015), Cell](htt

[2016-04-08 19:40] chackoge opened #55 "FDA: Approval Documents"
For the community of researchers interested in scientific impact of basic biology research, a walk 'backwards' from a drug to the basic research that enabled its development is of great interest. Literature references cited in FDA approval documents are not easily accessible. In [this example](http://www.accessdata.fda.gov/drugsatfda_docs/nda/2015/125522Orig1s000MedR.pdf), they are scattered throu

[2016-04-10 03:43] dportnoy commented on #54
@chackoge, thanks for the request!  Could you provide specifics on the fields needed.  Orange Book lists the fields for each of their 3 machine-readable files: http://www.fda.gov/Drugs/InformationOnDrugs/ucm129689.htm.  Which ones would be particularly applicable for your request for Purple Book?

For those unfamiliar with the Purple Book...  It's the Orange Book equivalent for biologics.  The des

[2016-04-10 03:44] dportnoy commented on #54
BTW, the cited "From Scientific Discovery to Cures" paper was also mentioned in National Institute of General Medical Sciences (NIGMS) 2017 budget...

[2016-04-10 03:46] dportnoy commented on #55
@chackoge thanks for making the request!  Sounds like there are multiple components to it:
1. Aggregate references in a structured way.  Perhaps a single table, rather than being scattered throughout long form content.
2. Include a unique identifier (such as a PMID, WosID, ScopusID, doi) that could be used for linking and analytics.
3. Save the document in a more open, machine-readable format, suc

[2016-04-10 03:50] dportnoy commented on #53
@BAP-Jeff, I'm reaching out to the program owners to see if they have an update.  Thanks for your patience.

[2016-04-10 15:10] marks commented on #11
Just curious if you've heard from the CDC program owners. I wonder what other data is "locked" behind query tools that are labor intensive to scrape (and maintain).

[2016-04-10 23:29] dportnoy commented on #11
@marks  Will check into it.

cc: @DamonDavis

[2016-04-11 23:59] dportnoy opened #56 "Aggregate machine-readable provider network directories and drug formularies into tabular format"
#### Putting out a call to those interested in making an impact by contributing to public data projects...  Looking for somebody to create a new public dataset (and accompanying source code).

### Background
In November 2015, the Centers for Medicare & Medicaid Services (CMS) enacted a new regulatory requirement for health insurers who list plans on insurance marketplaces. They must now publish a

[2016-04-12 01:47] dportnoy commented on #56
@marks, @ftrotter, @cornstein, @BAP-Jeff, @loranstefani, @Jordanrau, @HeatherBrotsos, @lloydbrodsky,
Since you're all past contributors, I wanted to see if any of you would take the challenge.  Feel free to pass it on to your colleagues as well.

[2016-04-12 01:49] dportnoy commented on #56
In case it's helpful, I started working on the code, but just haven't had enough time to get to it lately.  Feel free to use.  You can find it here: https://github.com/dportnoy/health-insurance-marketplace-analytics

[2016-04-12 02:28] dportnoy commented on #53
@BAP-Jeff, we have an update from the program owners.  Unfortunately, the Medicaid MCO files for 2014 are still being finalized and cannot be shared yet.  They hope to have the reports finalized "within the next few weeks".  We’ll post an update as soon as the data is available.  cc:@declan

[2016-04-12 11:56] marks commented on #56
@dportnoy - looks like you got pretty far.. would you mind documenting what it does so far and what areas need attention? Would definitely help so others dont accidentally reinvent the wheel

[2016-04-12 17:46] dportnoy commented on #56
@marks You give me entirely too much credit.  But point taken.  I'll write up a summary and post it.

[2016-04-14 16:42] dportnoy commented on #26
@FlaviuSim @RxData @cornstein,
I just had a discussion with somebody who is trying to obtain drug rebate data that PBMs negotiate with manufacturers, since without it it's not possible to determine the bottom line cost of a drug claim.  Are you already using contracted rebate data in your analysis?

![Relationship of drug claims and rebates](https://raw.githubusercontent.com/demand-driven-open-dat

[2016-04-14 17:03] FlaviuSim commented on #26
We do not have rebate data. Where would you be able to access that?

_Flaviu Simihaian_

Co-Founder and CEO, iMedicare https://imedicare.com/#/

Phone: (800) 817-6526 x100

On Thu, Apr 14, 2016 at 12:42 PM, David X Portnoy notifications@github.com
wrote:

[2016-04-14 17:59] dportnoy commented on #26
@FlaviuSim, I'm not yet sure _if_ this data is accessible anywhere.  I'm just doing preliminary investigation since somebody was asking me about it.  But as I begin to investigate, I'd like to get a sense for how important such data would be to your work.  Or your thoughts about the contexts in which it's most valuable.

[2016-04-14 18:01] FlaviuSim commented on #26
Yes, David, it would be very important to make pricing more transparent for
our customers and the entire industry.

_Flaviu Simihaian_

Co-Founder and CEO, iMedicare https://imedicare.com/#/

Phone: (800) 817-6526 x100

On Thu, Apr 14, 2016 at 1:59 PM, David X Portnoy notifications@github.com
wrote:

[2016-04-14 23:21] dportnoy commented on #56
### Suggestions for JSON to tabular (CSV/TSV) column mapping

Translation from JSON schema into tabular should be straight forward...
- **Files:** Break into 3 core files by schema: plans, providers, drugs
- **Columns:** Schema fields get translated into individual columns
- **Arrays:** Biggest challenge is with arrays.  Multiple independent arrays are especially problematic, since you can't just

[2016-04-16 13:34] dportnoy commented on #52
@BAP-Jeff, let me know if you're comfortable with sharing the aggregated drug formulary dataset.  Take a look at use case #56.

[2016-04-16 15:44] marks commented on #56
I put something together really quickly that takes insurance provider's `index.json` URLs and flattens the data from the `formulary_urls` array.

Sample dataset: https://healthdata.demo.socrata.com/view/979j-m4qb
Code: https://github.com/marks/health-insurance-marketplace-analytics/commit/3507b4738fbb1ba75126e474bd6c24f0baf9d133

[2016-04-16 15:56] cornstein commented on #56
Really interesting output, but I wonder if there's a way to make this a bit
more useful. Perhaps we can have a brief chat?

On Sat, Apr 16, 2016 at 11:44 AM, Mark Silverberg notifications@github.com
wrote:

[2016-04-16 16:10] marks commented on #56
@cornstein - definitely... That's just a quick visualization of the data. You can export it (all or a slice) or use the API as well, of course.

Kind of hectic day but happy to jump on a call tomorrow or continue to chat here if you're interested in a specific view

##

Mark Silverberg
(m) 512 826 7004
http://twitter.com/skram

[2016-04-16 16:12] ghost commented on #52
Sure, I am happy to help.  I think having some other people looking at this
will help push CCIO to get some fixes happening.

Did you just want me to respond to the thread or post some code?

On Sat, Apr 16, 2016 at 9:34 AM, David X Portnoy notifications@github.com
wrote:

[2016-04-16 19:08] dportnoy commented on #56
Here are some options for the end product, along with their uses.  They are listed in **increasing order of difficulty**:
1. AGGREGATE: Aggregate the crawled URLs into a small number of files, keeping the original [QHP schema](https://github.com/CMSgov/QHP-provider-formulary-APIs) format in JSON: plans, providers, drugs.
   - Eliminates the need to crawl thousands of URLs is no longer needed.
   -

[2016-04-16 19:31] chackoge commented on #55
@dportnoy

a) aggregating references in a structured way is useful- some documents have all the references in Appendix 9B as I recall but the FDA document is still in pdf. Providing a machine readable list of unique identifiers would be very useful, i.e.,  every citation would have to have at least one of PubMed ID, ScopusID, WosId, or doi. Ideally PubMed since access does not require a subscripti

[2016-04-16 19:35] chackoge commented on #54
@dportnoy I would say all three files are relevant. I am most interested in the product, active ingredient, and patent numbers associated with these biologics but I expect that the larger community would like to see all the data in the Orange Book downloadable files made equivalently available for the Purple Book. A step further would be to retain historical patent data, i.e., list patents even if

[2016-04-16 20:26] marks commented on #56
I've made a bit more progress. The latest code is available at https://github.com/marks/health-insurance-marketplace-analytics/blob/master/flattener/flatten_from_index.py

I have code that _starts*_ to flatten all three file types: `drugs.json`, `plans.json`, and `providers.json`. I have only run `providers.json` and `drugs.json` on a few `index.json`'s as it can take a while to process.

The flat

[2016-04-17 03:46] dportnoy commented on #52
@BAP-Jeff, go ahead and join the party over at use case #56.  We have marks, cornstein and ftrotter looking at it.  I'll post the rest there.

[2016-04-17 03:46] dportnoy commented on #56
@BAP-Jeff, hi again.  Welcome to use case #56!  To answer your question from issue #52...  Having a ready to go dataset would be ideal for the Bayes Hack codathon for next weekend.  It's identified as the central dataset for building consumer healthcare apps.  You'll see a comment above that identifies 4 possible file types: https://github.com/demand-driven-open-data/ddod-intake/issues/56#issuecom

[2016-04-17 14:03] ghost commented on #56
Hello All,

As David knows, I have been playing with the drugs.json set for a while as
I build some commercial applications for the formulary space.  There are a
ton of challenges in using the data as supplied but overall it is a good
first year effort by the agency.

If I understand the challenges David laid out, I have been pursuing Option

# 4 for my app.  I am using a couple simple Python scri

[2016-04-17 14:08] marks commented on #56
@BAP-Jeff - awesome. I think both the data and the provenance (how you got it, including any scripts/documentation) would be much appreciated by participants as well as the community in general. Would be happy to look into hosting it onto Socrata if you can provide the raw data

Mark

[2016-04-17 14:26] ghost commented on #56
Okay thanks.  I will put together some things tonight.  Much of my time in
working with this dataset is dealing with the data discrepancies (i.e.
multiple statuses on a drug for a plan, use of NDCs vs RxCUIs, missing
restrictions, bogus URLs), but showing off the millions of records that are
produced will be cool.  Plus hopefully making it more accessible will get
more eyes on it...and we can get

[2016-04-17 14:31] marks commented on #56
I dont want to make more work for you, @BAP-Jeff, but I'd be very interested in what your CSVs are looking like. I am running some code on the `index.json`s I found in a previously shared `xlsx` to flatten all three file types (but they may not have all important info... I am not a SME in this area

[2016-04-17 14:57] ghost commented on #56
I actually use pipe delimiting but can easily change it out.  I am attaching an example source json file and what I am outputting (tried to find a small one).  It is very close to what you had shown off before Mark.  I can easily add some more columns to this from the Plan Attributes PUF file to be more complete (IssuerID, Region, etc), but sounded like you wanted to see what the current state was

[2016-04-17 15:04] marks commented on #56
@BAP-Jeff - Yup! Looks quite similar. I would think it would be very helpful to folks to include info from the Plan Attributed PUF. Will standby for files so that we can get them on Socrata\* (and Kaggle and other platforms) for dissemination/exploration/API acces

`*` Full disclosure: I work for Socrata and we're more than happy to help folks download the data in a number of formats. Can accept p

[2016-04-17 15:06] ghost commented on #56
Okay I will be gone most of the day but will get on this later today.

[2016-04-17 16:45] dportnoy commented on #56
@BAP-Jeff, great to have you contribute!  Let's see if I could answer most of your questions...
- STORAGE: For now, the datasets generated can be stored wherever is most convenient for your methods.  They can always be copied elsewhere later.
  - Ultimately, Kaggle agreed to put the datasets in their HHS section for use with the codathon and other future activity: https://www.kaggle.com/hhsgov/hea

[2016-04-17 23:18] ghost commented on #56
David,

I think I can take on all the above but may need a little help with the Deck.  Do you have a template you want to use - Powerpoint, Google, ??

I can produce the files tonight/tomorrow and upload them probably tomorrow.

@dportnoy give me the details on the kaggle stuff
@marks let me know where to drop the files for Socrata

David, did you want to reserve any slides for ..."Issues we found

[2016-04-17 23:28] marks commented on #56
Jeff- if I can just get delimited files, I can take care of loading it for ya. Sounds like kaggle is top priority for this event though ;)

##

Mark Silverberg
(m) 512 826 7004
http://twitter.com/skram

[2016-04-17 23:33] ghost commented on #56
Okay I will loop back around to you as time is short.

On Sun, Apr 17, 2016 at 7:28 PM, Mark Silverberg notifications@github.com
wrote:

[2016-04-18 03:37] dportnoy commented on #56
@BAP-Jeff  Google slides.  No specific template.  Just the white default.

For Kaggle, upload to it will be done manually by their staff (since they're still working on making that functionality self-serve).  So we need a staging location before the data gets copied there.

[2016-04-18 18:37] ghost commented on #56
Okay I have the file ready to go.  It is about 5GBs uncompressed (31 million records).  The file has the following table def:

create table Hackathon
(StateCode          varchar(2),
IssuerID            char(5),
StandardComponentID varchar(14),
MarketCoverage      varchar(18),
PlanMarketingName   varchar(142),
HIOSProductID       varchar(10),
ServiceAreaID       varchar(6),
FormularyID         varc

[2016-04-18 21:10] dportnoy commented on #56
@BAP-Jeff, definitely throw it up on either S3 or gDrive, whichever works best!  Ideally, you could also provide a smaller file that has a more manageable sample subset of this data, so that it can be used to test code.

[2016-04-18 21:11] dportnoy commented on #56
@ftrotter, wanted to ping you and see if you're still working on any aspect of this.

[2016-04-18 21:28] ghost commented on #56
Actually it zipped down to 250 megs so not such a monster.  I also did a sample file for all of Humana in Georgia.

[2016-04-18 21:57] marks commented on #56
@BAP-Jeff - I think you missed a pipe in the header row

[2016-04-18 22:06] ghost commented on #56
Thank goodness someone is QAing this!  Thanks @marks.  Be right back.

On Mon, Apr 18, 2016 at 5:57 PM, Mark Silverberg notifications@github.com
wrote:

[2016-04-18 22:14] ghost commented on #56
DRUGS file sample: https://drive.google.com/file/d/0B9yZheZrBn54RHk1SmszenNnYTg/
DRUGS file complete: https://drive.google.com/file/d/0B9yZheZrBn54MGplUW5BeVRhMDQ/

[2016-04-19 00:55] dportnoy commented on #56
@marks apologies for the delayed reply on your questions in https://github.com/demand-driven-open-data/ddod-intake/issues/56#issuecomment-210890927.

Unfortunately, I can't get your links to work.  I'm getting a message "Sign in with your Socrata ID".  But when I register a new ID, I get "The current user doesn't have access to this view".  For the API links, I'm getting a "Private Dataset" messag

[2016-04-19 01:47] dportnoy commented on #56
@BAP-Jeff, it rocks!

DRUGS file complete [Hackathon.zip](https://drive.google.com/file/d/0B9yZheZrBn54MGplUW5BeVRhMDQ/) unzips (using `tar xzvf Hackathon.zip`):
- Size: 5.1GB
- Rows: 330,150,734 (including header row)
- Included header: StateCode|IssuerID|StandardComponentID|MarketCoverage|PlanMarketingName|HIOSProductID|ServiceAreaID|FormularyID|PlanType|MetalLevel|DrugStatus|RxCUI|DrugName|PASt

[2016-04-19 01:58] marks commented on #56
@dportnoy mind testing those links again?

[2016-04-19 02:01] dportnoy commented on #56
@BAP-Jeff, I believe you said you were also looking at **PLANS** files, right?

Some questions and possible improvements for **DRUGS**:
- The `ServiceAreaID` and `FormularyID` fields are equal.  Where are they coming from?
- Would it be possible to use _snake case_ and naming that's consistent with the [schema spec](https://github.com/CMSgov/QHP-provider-formulary-APIs), rather than _camel case_ a

[2016-04-19 02:06] dportnoy commented on #56
@marks  Progress!  Data grid and APIs seem to be working, but data explorer redirects to https://healthdata.demo.socrata.com/.  I can dig into the detail by tomorrow morning.

[2016-04-19 02:11] marks commented on #56
@dportnoy think I fixed my typo. Gonna load @BAP-Jeff's file so that I can play with some aggregations etc via API as opposed to having to work with the full file which is a bit large ;)

[2016-04-19 11:04] ghost commented on #56
@dportnoy, I have not been working with the PLANS files yet.

Regarding your questions:
- I just double checked ServiceAreaID and FormularyID.  I don't see them as
  being equal.  The third character is an "S" for ServiceArea or "F" for
  Formulary.  These items comes from the Plan Attributes PUF
- I will change the naming.  I was trying to be consistent with the actual
  Data Dictionaries on the

[2016-04-19 11:58] ghost commented on #56
Here is what the modified header would look like:

state_code|issuer_id|plan_id|market_coverage|plan_marketing_name|hios_product_id|service_area_id|formulary_id|plan_type|metal_level|drug_tier|rxnorm_id|drug_name|prior_authorization|step_therapy|quantity_limit

Sorry those pipes are hard to see.

[2016-04-19 12:20] ghost commented on #56
@dportnoy, I am taking a quick look at plans.json.  I just downloaded them all and now playing with the extraction.  Probably not a big challenge.

[2016-04-19 13:05] marks commented on #56
@BAP-Jeff's drugs.json extract is on Socrata exploration experience which also links to export and API at https://healthdata.demo.socrata.com/view/7unb-qpyc if anyone wants to use it to take a look. If there is a data dictionary explaining each field, I can put that in to provide a little more context to users. Hope it's helpful!

Mark

[2016-04-19 13:36] dportnoy commented on #56
@marks, @BAP-Jeff, way to team up and get the DRUGS file built and hosted!

@BAP-Jeff, thanks for the updated header record!  To answer your question, `marketplace_category` and `issuer_name` can be found in the ["Machine-readable URL PUF"](http://download.cms.gov/marketplace-puf/2016/machine-readable-url-puf.zip) seed file.

[2016-04-19 13:41] ghost commented on #56
@dportnoy, I see the issuer_name but I don't see the marketplace_category.

On Tue, Apr 19, 2016 at 9:36 AM, David X Portnoy notifications@github.com
wrote:

[2016-04-19 13:57] dportnoy commented on #56
@marks, I was finally able to get to all the links in https://github.com/demand-driven-open-data/ddod-intake/issues/56#issuecomment-210890927.  Great start on those files!  I see that you combined arrays and hierarchies into single fields for simplicity.  I think next step should be to generate the complete files, so that at least we have something useful as a starting point for the weekend.  We c

[2016-04-19 14:48] ghost commented on #56
@dportnoy, I have the plans.json material parsed.  What is less obvious is how we want to conflate these guys into a single record...actually I don't think it makes sense to do so. Have you looked at it at all?  I could create  plan, network, formulary and cost_sharing files if you like, joined by plan_id or something.  Looks like the benefit piece is a work in progress.

Let me know. Unlike the f

[2016-04-19 15:21] dportnoy commented on #56
@BAP-Jeff, on your questions:
- https://github.com/demand-driven-open-data/ddod-intake/issues/56#issuecomment-211927446: Looks like CMS took out the `marketplace_category` field from the latest PUF.  Here's a PUF from December 2015 that has it: https://github.com/demand-driven-open-data/ddod-intake/blob/master/_files/Machine_Readable_PUF_2015-12-21.xlsx
- https://github.com/demand-driven-open-data

[2016-04-19 15:28] dportnoy commented on #56
@BAP-Jeff, @marks, @cornstein, if time allows it might be useful to figure out how to represent the plans that have **missing data**.  In other words, those who either:
1. Didn't provide an index.json URL at all
2. Provided a URL, but it didn't work
3. Had a working URL, but the content didn't conform to the schema

Seems that having missing values would be useful for both analytics and consumer a

[2016-04-19 15:53] ghost commented on #56
@dportnoy, I am out for the rest of the week EOB Wednesday.  I am going to prioritize doing another cut of the formulary data with the additional fields.  Then I will create the plans data.  Unlikely I am going to get to the slides at this moment.  Sorry.

As for your piece on who's missing, #1 is easy, #2 takes a bit of manual entry, and #3 (at least for me ends up in bucket #2).

Should I just a

[2016-04-19 18:24] ghost commented on #56
All, here is my quick attempt to stitch something together for plans.json.

Four files joined on plan_id and/or plan_id-drug_tier.  Take a look, just one plan for now.

[plans.zip](https://github.com/demand-driven-open-data/ddod-intake/files/226562/plans.zip)

[2016-04-19 19:24] dportnoy commented on #56
@BAP-Jeff,

Sure that could work.  (If it's easier, we can have a separate addendum file with the same header, but containing just the plans that couldn't be processed.  Analysts could simply append this file to the main one, if they want to include the missing data points.)

[2016-04-19 19:40] dportnoy commented on #56
@BAP-Jeff, on https://github.com/demand-driven-open-data/ddod-intake/issues/56#issuecomment-212055405

Looks good!  Let's load.  A couple observations for future improvement:
- Should the field in PlanNetworkOut.pip be `network_tier`?
- Consider including `telemedicine` field

[2016-04-19 19:44] ghost commented on #56
Sure I will update the network_tier. As for telemedicine. Only one plan provided it (all false). I can create a benefit file but it would be short and boring....

[2016-04-19 20:20] dportnoy commented on #56
@BAP-Jeff, Sounds good.  No need to create telemedicine if there's no data.

Since there's not time for slides...  From your prior analysis of the data, do you recall any observations that might be interesting to discuss?

[2016-04-19 21:09] ghost commented on #56
@dportnoy, I am finishing up the plan stuff and unfortunately a few big issuers supplied malformed json documents...I am guessing they rely on the same vendor to produce these so that is why I see the same mistake a few different places.

In a nutshell:

"network": [ {"network_tier": "STATEWIDE" }], "formulary":  {"drug_tier": "HIGHEST-COST-SHARE", "mail_order": true, "cost_sharing": [ {"pharmacy_

[2016-04-19 21:20] ghost commented on #56
Here is the full set of plans.json files.

[plans.zip](https://github.com/demand-driven-open-data/ddod-intake/files/226850/plans.zip)

I'll get the formulary files up later together along with observations.

[2016-04-19 21:32] ghost commented on #56
@dportnoy I "hearted" a comment from earlier today.  Can you take a look to see if you still see an issue?  I am holding on producing the final files until I hear.

I will add in issuer and marketplace from the old PUF file at that time too.

[2016-04-19 21:47] dportnoy commented on #56
@BAP-Jeff, Nice job on [plans.zip](https://github.com/demand-driven-open-data/ddod-intake/files/226850/plans.zip)!  These files are pleasantly small!  We don't even need separate sample files.  I'm assuming they will be eclipsed by PROVIDERS files.

Some unexpected line breaks in plan.pip might cause problems with loading.  For example:
- 31609PA0150004
- 16204OH0020010

[2016-04-19 23:00] dportnoy commented on #56
@BAP-Jeff,

Is it this one: https://github.com/demand-driven-open-data/ddod-intake/issues/56#issuecomment-211861941

**A:** Sure.  Keep both.

**A:** Already done.

**A:** See https://github.com/demand-driven-open-data/ddod-intake/issues/56#issuecomment-211976114 for answer

[2016-04-20 00:04] ghost commented on #56
Uh oh let me look.

Is someone getting the physician file done for you?

[2016-04-20 00:58] ghost commented on #56
Regarding line breaks...oh fun check out the source:

"plan_id_type" : "HIOS-PLAN-ID",
  "plan_id" : "31609PA0150004",
  "marketing_name" : "Personal Choice PPO Gold Classic\n $1,000 $15/$30/80%",
  "summary_url" : "https://www.ibx.com/ffm/shop2016",

Nice little \n in the marketing name

Here is the corrected version
[plans.zip](https://github.com/demand-driven-open-data/ddod-intake/files/227085/

[2016-04-20 01:01] ghost commented on #56
@dportnoy still working on the formulary files to add in issuer and marketplace.  I need to kick off a new join and then download, roundtrip is a few hours.

Will late in the day work tomorrow or even Thursday?  This daytime job is getting in the way.

[2016-04-20 01:29] dportnoy commented on #56
@BAP-Jeff, yes, funny about "\n".  Sneaky.  Tomorrow is OK.  We'll let that day job thing slide this time.  :-P

@marks, @ftrotter, want to tackle PROVIDERS?  @marks, was my feedback on https://github.com/demand-driven-open-data/ddod-intake/issues/56#issuecomment-211932545 sufficient?  @ftrotter, if I recall correctly all things provider networks are your specialty!

[2016-04-20 19:14] ghost commented on #56
@dportnoy, hey I have added in marketplace and issuer name to the file, but we lost around 500K records (some issuer wasn't around in December I guess).  Whatcha think?  Use this new file or leave the old one?

[2016-04-20 19:18] ghost commented on #56
Or we could just leave those columns blank...

[2016-04-20 19:56] dportnoy commented on #56
@BAP-Jeff, do an outer join, so that you don't lose any records.  For missing values, perhaps leave blank.  It can be figured out and backfilled later.

And in case this is helpful...

[2016-04-21 12:34] ghost commented on #56
Here ar the updated formulary files....first one is the sample

[https://drive.google.com/file/d/0B9yZheZrBn54Y3ZEME5LcnA0S0E/view?usp=sharing](url)

[https://drive.google.com/file/d/0B9yZheZrBn54M2RuTW1xU2RWOXc/view?usp=sharing](url)

[2016-04-21 13:12] dportnoy commented on #56
@BAP-Jeff, great!  Remind me the differences from the prior ones please.

[2016-04-21 13:15] ghost commented on #56
Added in Issuer name and marketplace

[2016-04-21 13:26] marks commented on #56
I'll take the new Formulary file and upload to Socrata in case anyone wants to work off of that as opposed to having to dealing with the 6+GB file :)

[2016-04-21 14:14] dportnoy commented on #56
Great, @marks.  I appreciate it.  I'm working on a page with all the links.

That said, we still need PROVIDERS files.

[2016-04-21 14:17] ghost commented on #56
I could maybe get to it tomorrow morning if you are desperate.

On Thu, Apr 21, 2016 at 10:14 AM, David X Portnoy notifications@github.com
wrote:

[2016-04-21 14:38] dportnoy commented on #26
It's been brought to my attention that there's another potential source for drug claims that might be relevant in some use cases: [CMS Integrated Data Repository (IDR)](https://www.cms.gov/Research-Statistics-Data-and-Systems/Computer-Data-and-Systems/IDR/)

According to the description it's supposed to be a "highly integrated data environment for the enterprise", with one of the goals being

We'r

[2016-04-21 14:52] dportnoy commented on #56
That would be beyond fantastic!

[2016-04-21 15:58] ghost commented on #56
I just kicked off a process to download all the provider.json files.  I have gotten through the first 10, initial impression is that these files are MASSIVE.

This could take a while to process.

[2016-04-21 16:04] marks commented on #56
@BAP-Jeff - that's why I initially focused on formulary ;) - Anyway I can help by running some scripts locally for you and/or on some cloud servers?

[2016-04-21 16:27] ghost commented on #56
@marks, ha!  Thanks for the offer.  I can grab the files, but based on some back of the envelope calculations this is going to be multi-terabytes of source data.

I'll check in later.

[2016-04-21 17:05] dportnoy commented on #56
@BAP-Jeff, @marks, I was afraid of that.  A few options:
1. **Break up** into multiple files
2. **Normalize** the heck out of the data
   - It should help that multiple plans use identical networks and providers.json URLs.  Perhaps use a separate "issuer_provider" file that joins `issuer_id` to `providers_url`.  Then the "providers" file doesn't need to repeat entries that come from the same `prov

[2016-04-22 12:15] marks commented on #56
@BAP-Jeff, @dportnoy - the latest (https://github.com/demand-driven-open-data/ddod-intake/issues/56#issuecomment-212898336) formulary files are API enabled at the following link. Let me know how else I can help, of course.

https://healthdata.demo.socrata.com/view/xc22-8t66

[2016-04-22 12:46] dportnoy commented on #56
Thanks! That leaves just the providers files.

[2016-04-22 13:10] ghost commented on #56
I downloaded all the provider json files last night.  Looks like maybe the "big" ones were at the top of the list and they got better after that.  As we discussed/suggested, I am breaking them into a number of tables - indiv_languages, fac_addresses, etc...  Still going to be big files, but seems like things are running....

[2016-04-22 13:17] ghost commented on #56
FYI, we have some healthy sized files.  I just exhausted the memory on my box.  It will take me a few to spin up a big honker on AWS to run these big guys...

Maybe I should just give up on these for now and deal with them later.  @dportnoy what is the timing on all this?  Today right?

-rw-rw-r-- 1 ubuntu ubuntu 2267461069 Apr 21 21:11 PROVJSON3_201604212013.json
-rw-rw-r-- 1 ubuntu ubuntu 217029

[2016-04-22 13:45] dportnoy commented on #56
@BAP-Jeff, for now could you create a sample file and pick one full state to crawl.  (See bottom of my note above.)  Since the size would be manageable, you could create the simplest layout possible.

[2016-04-22 13:54] ghost commented on #56
@dportnoy actually that is tougher than it sounds.  To get a full state would imply that we would need to load all the files then query the state we want out of it.  I can work towards that but it will take me some time to get a machine that can parse the 2GB files.  What is the timing?

Here is what the header files will look like for eight files (anything obvious I am missing?):

# Plan Table -

[2016-04-22 14:20] dportnoy commented on #56
@BAP-Jeff,

**One-state subset:** I could be wrong, but I thought you start with the `state` associated with each issuer in the  [Machine Readable PUF 02-22-2016.txt](https://github.com/demand-driven-open-data/ddod-intake/files/231940/Machine.Readable.PUF.02-22-2016.txt).  Not sure if each shows nationwide networks, but I'm sure some have narrow networks that wouldn't be as big.  If that logic is

[2016-04-22 14:30] ghost commented on #56
@dportnoy, I think what you are saying is more or less right.  What I am
seeing is that an Issuer can be operating across multiple states, so the
url listed for say Aetna/Texas is the same url as Aetna/Florida.  I could
(as I think you suggest), go after the urls listed for a state and if there
is spill over to other states so be it.  But looks like national plans are
just that....they show up eve

[2016-04-22 14:42] dportnoy commented on #56
@BAP-Jeff, on fields...

I think we need to add `plan_id` and `network_tier` to INDIVIDUAL and FACILITY files.  Otherwise we'll end up with a lot of "duplicate" npi entries, each with slightly different information, including whether they're  `accepting` new patients.  We won't know which entry belongs to which plan.

Optional: Consider adding `issuer_id` (from PUF), as that would be useful for so

[2016-04-22 14:52] dportnoy commented on #56
https://github.com/demand-driven-open-data/ddod-intake/issues/56#issuecomment-213449685  Which state?  I'd love to get CA since BayesHack is there, but alas it's not included.  If you want to be on the conservative side, you can pick a state with fewest entries in PUF, like AK or SD.  When I did my last analysis a couple months ago, both these states had only one providers.json url.

[2016-04-22 14:55] ghost commented on #56
Got it.  It will be interesting to see if the plans put leverage their own internal address information or just use the NPPES file...

I'll take a look at AK, I might also look at ME.

[2016-04-23 03:17] ghost commented on #56
I am focussing on pulling files for ME.  Though it is only a few JSON files, the created tables are enormous.  Just for ME we are looking at probably a bit over 5GBs.  I am not sure what to do about that.  I guess I will just zip them up and post them.  Wow.

[2016-04-23 03:45] dportnoy commented on #56
@BAP-Jeff, since the size is ending up to be so big anyway, what if we post a subset first.  Perhaps pick some arbitrary way to grab a subset that people can easily work with?

[2016-04-23 04:27] ghost commented on #56
@dportnoy, okay I got Maine done.  It is posted to here:

[https://drive.google.com/file/d/0B9yZheZrBn54UFFBOGlLWmZVejQ/view?usp=sharing](url)

Compressed down to about 130mb.  Very little QA on this guy.  If we want to pull out something smaller let me know.  Not entirely obvious how to filter it...maybe by a couple PlanIDs.....

[2016-04-23 04:38] dportnoy commented on #56
@BAP-Jeff nice!  Let's go with it.

[2016-04-23 04:42] dportnoy commented on #56
Working on BayesImpact related posts now.  (@BAP-Jeff, @marks Could you help me summarize the latest and best links we have for each category.)
- DDOD Writeup: http://ddod.us/wiki/Challenge:_How_can_data_connect_individuals_with_the_health_providers_they_need
- BayesHack main website: http://bayeshack.org/health-and-human-services.html
- BayesHack GitHub to get devs started: https://github.com/bay

[2016-04-23 14:01] marks commented on #56
@dportnoy all I've got for ya is https://healthdata.demo.socrata.com/view/xc22-8t66 for the latest version of the Formulary data @BAP-Jeff scraped. Happy to upload anything else too though

[2016-04-23 14:15] dportnoy commented on #56
@marks, It would be great if you could load the updated data.  I'll proceed to publish individual links in the mean time, as well as data dictionaries.

[2016-04-23 14:26] marks commented on #56
@dportnoy somehow missed Jeff's comment about ME. I'll see what I can do but please confirm that the Formulary file is as you'd expect it to be. Can definitely update title/description with whatever you'd like (perhaps a link back to the right place to see other resources)

[2016-04-23 14:59] marks commented on #56
@BAP-Jeff / @dportnoy - as you all know, providers are split into 6 files this time. Think it's worth creating one or two combined files for easier analysis? May need to leave something off like fac type or language or concatenate arrays into a string. Just a suggestion for making use easier like it is for formulary. Regardless, working on uploading to enable viz and APIs for these 6 files

[2016-04-23 16:15] ghost commented on #56
Good ideas.  I am out of pocket for most of the weekend.  Maybe we see if
anyone hits the APIs over the next couple weeks and then look to improve
things.

Will be interested to hear from @dportnoy what kind of interest/if any this
generates.  Clearly there are not many people using these files.

On Sat, Apr 23, 2016 at 10:59 AM, Mark Silverberg notifications@github.com
wrote:

[2016-04-23 19:17] marks commented on #56
@dportnoy the following files are ready

All US Forumulary file: https://healthdata.demo.socrata.com/view/xc22-8t66

Maine Provider Facility Type file: https://healthdata.demo.socrata.com/view/3juv-cnb4
Maine Provider Individual Specialty file: https://healthdata.demo.socrata.com/view/gz7p-vgqg
Maine Provider Individual Language file: https://healthdata.demo.socrata.com/view/fiik-zy3e

[2016-04-26 15:25] dportnoy commented on #56
Update...  @BAP-Jeff, @marks, thank you again!  You guys were a huge help!  Couldn't have done it without you.  We still need to write up the activities at BayesHack, but there were 8 HHS teams at BayesHack, 4 of them specifically dealing with helping consumers find the right healthcare.
![bayeshack - 8 hacker teams for hhs](https://cloud.githubusercontent.com/assets/2925801/14823613/c549e2c8-0b98

[2016-04-26 17:37] cornstein commented on #56
Anything useful/shareable come out of it? I would love to see.

On Tue, Apr 26, 2016 at 11:25 AM, David X Portnoy notifications@github.com
wrote:

[2016-04-26 17:50] Jordanrau commented on #56
Ditto.

Jordan Rau | Senior Correspondent | Kaiser Health News<khn.org> | 202.654.1362 | @jordanrau | jrau@kff.orgmailto:jrau@kff.org

From: cornstein [mailto:notifications@github.com]
Sent: Tuesday, April 26, 2016 1:37 PM
To: demand-driven-open-data/ddod-intake ddod-intake@noreply.github.com
Cc: Jordan Rau JordanR@kff.org; Mention mention@noreply.github.com
Subject: Re: [demand-driven-open-data/d

[2016-06-06 19:21] Dupuytren opened #57 "Dupuytren Disease impact query"
**Need**: statistics on the details of Dupuytren contracture care.

**Value**: Dupuytren disease is a common senior condition, but the health care burden cannot be assessed without diagnosis-tagged data. Current treatments are of limited value. Research funding requires data on Dupuytren disease impact in terms of need for care, care provided and cost of care. Large-scale research is needed to ide

[2016-06-06 22:30] dportnoy commented on #53
@BAP-Jeff, 2014 data is available now.  Please see: http://ddod.us/wiki/Use_Case_46#2014_Files.  There's also an update about availability of 2015.  Let me know if there are any issues.     cc:@declan

[2016-06-07 01:14] dportnoy commented on #57
@Dupuytren Thank you for submitting your use case.  Could you please provide the links to the 2014 datasets you referred to.  What other fields do you need from claim and what's the level of granularity that's acceptable for your purposes?

cc: @DamonDavis

[2016-06-07 10:35] Dupuytren commented on #57
Hi, David.

The interactive data set is
https://data.cms.gov/Public-Use-Files/Medicare-Provider-Utilization-and-Payment-Data-Phy/ee7f-sh97
The tab delimited file
https://www.cms.gov/apps/ama/license.asp?file=http://download.cms.gov/Research-Statistics-Data-and-Systems/Statistics-Trends-and-Reports/Medicare-Provider-Charge-Data/Downloads/Medicare_Provider_Util_Payment_PUF_CY2014.zip
is
linked from

[2016-06-07 10:55] ghost commented on #53
Great, thanks all.

Jeff

On Mon, Jun 6, 2016 at 6:30 PM, David X Portnoy notifications@github.com
wrote:

[2016-06-07 13:07] Dupuytren commented on #57
Clarification: "procedure codes CPT 26910, 26951" should be "procedure
codes CPT 26910, 26951, 26952"

Charlie

Charles Eaton MD
Executive Director
Dupuytren Foundation
http://Dupuytrens.org
949-287-3387

On Tue, Jun 7, 2016 at 6:35 AM, Charles Eaton MD info@dupuytrens.org
wrote:

[2016-06-08 03:33] dportnoy commented on #57
@Dupuytren / Charlie, Thank you for the clarification.  Although you mention getting a “listing of every claim” for the desired CPTs, it sounds like you don’t need individual claims records and are fine with the data aggregated up to the NPI and CPT level, as with the existing PUF.

The PUF already gives us “Number of Services” counts for CPT codes CPT 26910, 26951, 26952 for all diagnosis.  Now y

[2016-06-08 11:36] Dupuytren commented on #57
Hi, David -

Here's the rub: the data is incomplete because "Number of services" claim data in these files is used to truncate the listing. Procedures are _only_ listed if the doctor billed Medicare for performing _more than ten_ of that specific procedure code during the year. The majority - likely all - physicians performing 26910, 26951, or 26952 would have performed less than 10 of those proce

[2016-06-08 12:03] hilaryzainab commented on #57
@Dupuytren Though this isn't a listing of all the provider specific info, I pulled out the specific codes by state to get a summary list. Maybe you have already done this?

It is clear from the '# of Providers' and the '# of Services column that the aggregate data reports those providers with less than 10 procedures per year. However, I had a similar issue in querying the provider level file you l

[2016-06-08 12:27] Dupuytren commented on #57
Thanks - This confirms the problem. Unfortunately, this prevents me from gathering the exact information I need: (total number of finger amputations for Dupuytren disease)/(total number of amputations for any diagnosis). I'm open to any suggestions to access Medicare data sets without this data limitation.

[2016-06-08 13:53] dportnoy commented on #57
@hilaryzainab, thanks for checking into this.  Could you please elaborate on how you identified there's data for < 10 procedures per year.

@Dupuytren, I believe it's a general rule of CMS to not show only results where the sample size is greater than 10.  This is done to reduce the risk of compromising personal and private information.  So in order to get a count of every procedure, I think CMS w

[2016-06-08 15:54] Dupuytren commented on #57
Hi, David -
The >10 procedure data is a dealbreaker to answer my core question of what
percent of finger amputations are performed for Dupuytren disease vs. other
diagnoses. It would be a fluke for one surgeon to perform more than 3
amputations for Dupuytren disease in a single year,  much less 10 or more.

In the meantime, the available data is a valuable resource for patients
looking for a "Dupu

[2016-06-08 17:11] hilaryzainab commented on #57
@dportnoy Yes, I based this assumption (I should have said) off of the documentation supplement to the data.
'# of Services = number of services provided, the definition for which can vary by the HCPCS code
'# of providers = number of providers within provider state, HCPCS code and place of service ((F)Facility v. (O) Other)

I noticed that there were always more Services than Providers. Based jus

[2016-06-09 14:35] dportnoy commented on #57
@hilaryzainab, I see where you got the numbers.  It was the [Medicare State/HCPCS Aggregate table, CY2014, Microsoft Excel (.xlsx)](http://www.cms.gov/apps/ama/license.asp?file=http://download.cms.gov/Research-Statistics-Data-and-Systems/Statistics-Trends-and-Reports/Medicare-Provider-Charge-Data/Downloads/Medicare_State_HCPCS_Aggregate_CY2014.zip).  Thanks!

@Dupuytren, given that "Any aggregated

[2016-09-09 15:27] benefitkitchen commented on #49
Hello Folks,

Can someone tell me if there are plans to update this for 2016?

Best,
Dan

On Tue, Dec 8, 2015 at 11:24 AM, Elizabeth Hsu notifications@github.com
wrote:

##

Daniel Beeby • CTO • http://benefitkitchen.com/ • 212-849-2773

[2016-09-09 19:42] dportnoy commented on #49
@mapsam Did you want to update your Heroku hosted app?  @benefitkitchen, there's a chance I could find a home for this tool as well.  (Disclaimer: I'm referring from the standpoint of the DDOD initiative.  I don't represent HHS.)

[2016-09-09 20:03] benefitkitchen commented on #49
Thank you, David.

This is pretty simple to update, we just need to be sure that somebody's
going to do it in order to switch our code over to use the API.

This would need to be added for 2016
"2016": {
"base": 11880,
"rate": 4160
},
The "rate" remains the same for 2016 (at $4160). The 2017 numbers come out
Jan 20.

Best,
Dan

On Fri, Sep 9, 2016 at 3:42 PM, David X Portnoy notifications@github.c

[2016-09-09 20:15] mapsam commented on #49
👋  hi all

I've made a pull request adding the 2016 numbers provided by @benefitkitchen above. I'll deploy to heroku once things look good.

Worth noting the current free tier this heroku app is on **should not be relied upon**. Code for American can't guarantee it being up 100% of the time, and I can't guarantee it will be updated promptly.

I'll comment back here once the updates have been deplo

[2016-09-09 20:19] mapsam commented on #49
Successfully deployed!

http://fplapi.herokuapp.com/api?size=3&income=2000&income_type=monthly

[2016-09-09 20:53] dportnoy commented on #49
Thanks @mapsam!  Way to rock the spirit of community provided solutions!   👍

BTW, one day this would be the perfect service to move to Chalice, which is AWS's way to implement serverless functions in Python: http://david.portnoy.us/python-serverless-microframework/

[2016-09-09 21:50] greggish commented on #49
Isn't this the kind of thing that should be adopted by the gov? It's great that members of the community have engineered a solution, but this is a matter of public service.

[2016-09-09 22:01] dportnoy commented on #49
Hi @greggish, I think you hit upon the right world: "should".  Often well meaning program owners in government simply don't have the resources, sufficient procurement flexibility or regulatory authority to make important services happen.  This is the primary driver for spinning DDOD off into a nonprofit initiative outside of government.

[2016-09-09 22:24] greggish commented on #49
I get the challenge. It's a problem. But when a non-profit takes on responsibility that should be assumed by a government: now we have two problems.

[2018-02-26 22:54] dpwils commented on #20
@ftrotter @dportnoy resurrecting this a bit, but I'm looking to find TIN to NPI to EMR Deployment for a very specific health plan/provider data exchange initiative and I'm curious if a solution ever emerged from this conversation?

[2018-04-09 19:27] #53 closed

[2018-04-09 19:27] #52 closed

[2018-07-19 18:31] cscolieri27 commented on #13
I know this is an old thread but I am a pharmacy student at OSU and do research on medication regulations, this would be valuable to me as well. Any help would be greatly appreciated.

[2019-11-30 21:37] thmadmin commented on #29
If legislation forbids reporitng NPI then why NPI is listed on OIG exclusion?

[2019-11-30 21:40] tbirur commented on #29
If legislation forbids displaying NPI then why in OIG exclusion they list NPI ??

[2022-04-12 14:52] Breza commented on #29
Does anyone know the status of NPI-Open Payments matching? CMS has said they will start publishing the crosswalk, but I haven't been able to find anything yet.